/* shared less functions */
/* Cross browser opacity */
/* Clear fix */
/* Cross browser transforms */
/* Cross browser transitions */
/* fixes the transition flickering and glitches that trouble mobile webkit browsers */
/* project specific settings */
/**
 * PROJECT SETTINGS
 * Set project specific variables such as font size, unit sizes, colors and gradients
 * ============================================================================
*/
/* Font sizes */
/* box units - used in margins and padding */
/* border radius */
/* modules */
@-ms-viewport {
  width: auto;
}
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -ms-touch-action: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-touch-action: none !important;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font: 1em/1.5 sans-serif;
  overflow-y: scroll;
}
body {
  height: 100%;
}
img {
  max-width: 100%;
  border: 0;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  line-height: normal;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
a,
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
}
/* @BP10 */
@media all and (min-width: 801px) {
  head {
    font-family: "10";
  }
}
/* @BP20 */
@media all and (max-width: 800px) {
  head {
    font-family: "20";
  }
}
/* @BP30 */
@media all and (max-width: 600px) {
  head {
    font-family: "30";
  }
}
/**
 * SHORT TEXT
 * Replace a piece of text with a shorter alternative
 * Available at each breakpoint
 * ============================================================================
*/
/* @BP10 */
@media all and (min-width: 801px) {
  .short-text-bp10 {
    margin-top: -1.3em;
    white-space: pre-wrap;
    letter-spacing: -100px;
    position: relative;
    overflow: hidden;
  }
  .short-text-bp10[data-short-text]:after {
    display: block;
    content: attr(data-short-text);
    letter-spacing: normal;
  }
}
/* @ BP20 */
@media all and (max-width: 800px) {
  .short-text-bp20 {
    margin-top: -1.3em;
    white-space: pre-wrap;
    letter-spacing: -100px;
    position: relative;
    overflow: hidden;
  }
  .short-text-bp20[data-short-text]:after {
    display: block;
    content: attr(data-short-text);
    letter-spacing: normal;
  }
}
/* @ BP30 */
@media all and (max-width: 600px) {
  .short-text-bp30 {
    letter-spacing: -100px;
    position: relative;
    overflow: hidden;
  }
  .short-text-bp30[data-short-text]:after {
    display: block;
    content: attr(data-short-text);
    letter-spacing: normal;
  }
}
/**
 * LAYOUT
 * Create fluid and fixed width layouts
 * Uses flex box with display table fall back for IE8 and 9
 * ============================================================================
*/
.row {
  width: 100%;
  position: relative;
  display: table;
  table-layout: fixed;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.row__col {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-align-items: center;
  -webkit-box-align: center;
  position: relative;
  vertical-align: top;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* for IE8-9 - no flexbox */

  display: table-cell\0/;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* cancel out for ie10 - has flexbox*/
  .row__col {
    display: block;
  }
}
/* margins between columns */
.row--gap-s > .row__col {
  padding-left: 12px;
}
.row--gap-m > .row__col {
  padding-left: 18px;
}
.row--gap-l > .row__col {
  padding-left: 24px;
}
.row[class*="--gap"] > .row__col:first-child {
  padding-left: 0;
}
/* vertical align middle column content */
.row--align-middle > .row__col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* @BP20 */
@media all and (max-width: 800px) {
  .row--gap-s > .row__col {
    padding-left: 12px;
  }
  .row--gap-m > .row__col {
    padding-left: 16px;
  }
  .row--gap-l > .row__col {
    padding-left: 20px;
  }
  .row--collapse-bp20 {
    display: block;
  }
  .row--collapse-bp20 > .row__col {
    padding-left: 0;
    display: block;
    width: 100%;
  }
}
/* @BP30 */
@media all and (max-width: 600px) {
  .row--gap-s > .row__col {
    padding-left: 9px;
  }
  .row--gap-m > .row__col {
    padding-left: 14px;
  }
  .row--gap-l > .row__col {
    padding-left: 18px;
  }
  .row--collapse-bp30 {
    display: block;
  }
  .row--collapse-bp30 > .row__col {
    padding-left: 0;
    display: block;
    width: 100%;
  }
}
.is-hidden {
  display: none;
}
.is-invisible {
  visibility: hidden;
}
.is-visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
.is-not-interactive {
  pointer-events: none;
  cursor: default;
}
.is-interactive {
  cursor: pointer;
}
.is-disabled {
  cursor: default;
}
.is-not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media all and (min-width: 801px) {
  .is-hidden--bp10 {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .is-hidden--bp20 {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .is-hidden--bp30 {
    display: none;
  }
}
/**
 * BOX
 * A general purpose container for content
 * Use to set global bottom margins with clothing size notation
 * Use to set padding values with clothing size notation
 * ============================================================================
 */
.box {
  display: block;
  position: relative;
}
.box--inline {
  display: inline-block;
}
/* Set margin bottoms using the clothing size notation */
.mb--s {
  margin-bottom: 12px;
}
.mb--m {
  margin-bottom: 18px;
}
.mb--l {
  margin-bottom: 24px;
}
.mb--0 {
  margin-bottom: 0;
}
/* Set padding using the clothing size notation */
.box--island-s {
  padding: 12px;
}
.box--island-m {
  padding: 18px;
}
.box--island-l {
  padding: 24px;
}
/* @BP20 */
@media all and (max-width: 800px) {
  /* set margin bottom for @BP20 */
  .mb--s,
  .mb--s-bp20 {
    margin-bottom: 12px;
  }
  .mb--m,
  .mb--m-bp20 {
    margin-bottom: 16px;
  }
  .mb--l,
  .mb--l-bp20 {
    margin-bottom: 20px;
  }
  /* remove margin bottom for @BP20 */
  .mb--0-bp20 {
    margin-bottom: 0;
  }
  .box--island-s {
    padding: 12px;
  }
  .box--island-m {
    padding: 16px;
  }
  .box--island-l {
    padding: 20px;
  }
}
/* @BP30 */
@media all and (max-width: 600px) {
  /* set margin bottom for @BP30 */
  .mb--s,
  .mb--s-bp30 {
    margin-bottom: 9px;
  }
  .mb--m,
  .mb--m-bp30 {
    margin-bottom: 14px;
  }
  .mb--l,
  .mb--l-bp30 {
    margin-bottom: 18px;
  }
  /* remove margin bottom for @BP30 */
  .mb--0-bp30 {
    margin-bottom: 0;
  }
  .box--island-s {
    padding: 9px;
  }
  .box--island-m {
    padding: 14px;
  }
  .box--island-l {
    padding: 18px;
  }
}
/**
 * DIMENSIONS
 * A set of utility classes for setting content sizes
 * ============================================================================
 */
/* percentage dimensions */
.u-span1of1 {
  width: 100%;
}
.u-span1of2 {
  width: 50%;
}
.u-span1of3 {
  width: 33.33%;
}
.u-span1of4 {
  width: 25%;
}
.u-span1of5 {
  width: 20%;
}
.u-span1of6 {
  width: 16.66%;
}
.u-span1of7 {
  width: 10%;
}
.u-span1of8 {
  width: 10%;
}
.u-span1of8 {
  width: 10%;
}
.u-span1of10 {
  width: 10%;
}
.u-span1of11 {
  width: 10%;
}
.u-span1of12 {
  width: 8%;
}
/* fixed width dimensions */
.u-span1 {
  width: 12px;
}
.u-span2 {
  width: 24px;
}
.u-span3 {
  width: 36px;
}
.u-span4 {
  width: 48px;
}
.u-span5 {
  width: 60px;
}
.u-span6 {
  width: 72px;
}
.u-span7 {
  width: 84px;
}
.u-span8 {
  width: 96px;
}
.u-span9 {
  width: 108px;
}
.u-span10 {
  width: 120px;
}
.u-span11 {
  width: 132px;
}
.u-span12 {
  width: 144px;
}
.u-span13 {
  width: 156px;
}
.u-span14 {
  width: 168px;
}
.u-span15 {
  width: 180px;
}
.u-span16 {
  width: 192px;
}
.u-span17 {
  width: 204px;
}
.u-span18 {
  width: 216px;
}
.u-span19 {
  width: 228px;
}
.u-span20 {
  width: 240px;
}
.u-span21 {
  width: 252px;
}
.u-span22 {
  width: 264px;
}
.u-span23 {
  width: 276px;
}
.u-span24 {
  width: 288px;
}
.u-span25 {
  width: 300px;
}
.u-span26 {
  width: 312px;
}
.u-span27 {
  width: 324px;
}
.u-span28 {
  width: 336px;
}
.u-span29 {
  width: 348px;
}
.u-span30 {
  width: 360px;
}
.u-span31 {
  width: 372px;
}
.u-span32 {
  width: 384px;
}
.u-span33 {
  width: 396px;
}
.u-span34 {
  width: 408px;
}
.u-span35 {
  width: 420px;
}
.u-span36 {
  width: 432px;
}
.u-span37 {
  width: 444px;
}
.u-span38 {
  width: 456px;
}
/**
 * NOTE
 * For dimensions to work on our flexbox layouts, we have to set the flex value to 0 on the column
 */
.row__col[class*="u-span"] {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* aspect ratios */
.u-aspect16-9 {
  position: relative;
  padding-bottom: 56.25%;
}
.u-aspect4-3 {
  position: relative;
  padding-bottom: 74.8%;
}
.u-aspect1-1 {
  position: relative;
  padding-bottom: 100%;
}
/* the target for the aspect ratio - usually an image */
.u-aspect__target {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* heights */
.u-height-full {
  height: 100%;
  height: 100vh;
}
.u-minheight-full {
  min-height: 100%;
  min-height: 100vh;
}
.mediabox {
  display: table;
  width: 100%;
}
.mediabox__figure {
  min-width: 12px;
  direction: ltr;
  display: table-cell;
  vertical-align: top;
}
.mediabox__body {
  display: table-cell;
  vertical-align: top;
  direction: ltr;
  width: 0;
  border-color: transparent;
  border-left-style: solid;
  position: relative;
}
.mediabox__image {
  border-color: transparent;
}
/* gap between image and body text */
.mediabox--gap-s > .mediabox__body,
.mediabox--gap-s > .mediabox__body > .mediabox__image {
  border-width: 12px;
}
.mediabox--gap-m > .mediabox__body,
.mediabox--gap-m > .mediabox__body > .mediabox__image {
  border-width: 18px;
}
.mediabox--gap-l > .mediabox__body,
.mediabox--gap-l > .mediabox__body > .mediabox__image {
  border-width: 24px;
}
/**
 * Vertical media box
 */
.mediabox--vertical {
  display: block;
}
.mediabox--vertical > .mediabox__figure {
  width: 100%;
  display: block;
}
.mediabox--vertical > .mediabox__body {
  display: block;
  border-style: none;
  border-top-style: solid;
  width: 100%;
}
.mediabox--vertical > .mediabox__body {
  margin-top: -0.2em;
}
/**
 * Reverse direction mediabox
 * Horizontal - moves image over to the right
 */
.mediabox--reverse {
  direction: rtl;
}
.mediabox--reverse > .mediabox__body {
  border-style: none;
  border-right-style: solid;
}
/**
 * Media box with headline above the image
 */
.mediabox--top-headline {
  display: block;
}
.mediabox--top-headline > .mediabox__body {
  border-style: none;
  display: block;
  width: 100%;
}
.mediabox--top-headline > .mediabox__body > .mediabox__image {
  border-top-style: solid;
  border-bottom-style: solid;
  margin-top: -0.3em;
  margin-bottom: -0.3em;
}
/* @BP20 */
@media all and (max-width: 800px) {
  .mediabox--gap-s > .mediabox__body,
  .mediabox--gap-s > .mediabox__body > .mediabox__image {
    border-width: 12px;
  }
  .mediabox--gap-m > .mediabox__body,
  .mediabox--gap-m > .mediabox__body > .mediabox__image {
    border-width: 16px;
  }
  .mediabox--gap-l > .mediabox__body,
  .mediabox--gap-l > .mediabox__body > .mediabox__image {
    border-width: 20px;
  }
}
/* @BP30 */
@media all and (max-width: 600px) {
  .mediabox--gap-s > .mediabox__body,
  .mediabox--gap-s > .mediabox__body > .mediabox__image {
    border-width: 9px;
  }
  .mediabox--gap-m > .mediabox__body,
  .mediabox--gap-m > .mediabox__body > .mediabox__image {
    border-width: 14px;
  }
  .mediabox--gap-l > .mediabox__body,
  .mediabox--gap-l > .mediabox__body > .mediabox__image {
    border-width: 18px;
  }
}
.u-no-overflow {
  position: relative;
  overflow: hidden;
}
.u-clip {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.u-ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-oveflow: ellipsis;
}
.u-inline {
  display: inline;
}
.u-inline-block {
  display: inline-block;
}
.u-block {
  display: block;
}
.u-table {
  display: table;
}
.u-table-cell {
  display: table-cell;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}
.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}
.u-static {
  position: static;
}
.u-fixed {
  position: fixed;
}
.u-x-right {
  right: 0;
  left: auto;
}
.u-x-left {
  left: 0;
  right: auto;
}
.u-y-top {
  top: 0;
}
.u-y-bottom {
  bottom: 0;
}
/* this will place an element above any other element with no z-index set */
.u-z-bottom {
  z-index: 1;
  position: relative;
}
/* use this for things like dropdown mensu and other ui elements that sit on top of the normal content */
.u-z-middle {
  z-index: 100;
  position: relative;
}
/* use this for overlays */
.u-z-top {
  z-index: 1000;
  position: relative;
}
/* the nuclear option - force top of everything */
.u-zz-top {
  z-index: 1000000000!important;
  position: relative;
}
/**
 * TYPOGRAPHY
 * Font sizes and styles
 * Uses the clothing size notation
 * For seperate sizing per breakpoint, use the dash seperated multiple sizing classes
 * The sizes are seperated in this order: .text-@bp10-@bp20-@bp30
 * ============================================================================
*/
/* text style utlities */
.u-caps {
  text-transform: uppercase;
}
/* body text */
.text-s,
.text-s-s-m,
.text-s-m-m {
  font-size: 14px;
  font-size: 0.875rem;
}
.text-m,
.text-m-m-s,
.text-m-s-s {
  font-size: 16px;
  font-size: 1rem;
}
.text-l,
.text-l-l-m,
.text-l-m-m,
.text-l-m-s {
  font-size: 20px;
  font-size: 1.25rem;
}
/* @BP20 */
@media all and (max-width: 800px) {
  .text-s-m-m,
  .text-l-m-m {
    font-size: 16px;
    font-size: 1rem;
  }
  .text-m-s-s {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/* @BP30 */
@media all and (max-width: 600px) {
  .text-s-s-m,
  .text-s-m-m,
  .text-l-l-m,
  .text-l-m-m {
    font-size: 16px;
    font-size: 1rem;
  }
  .text-m-m-s,
  .text-m-s-s {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
