/* @media all and (min-width: 1165px) { */
  head {
    font-family: "5";
  }
/* } */

/* @media all and (min-width: 801px) { */
  .short-text-bp10 {
    text-indent: -50px;
    letter-spacing: -50px;
    position: relative;
    overflow: hidden;
  }
  .short-text-bp10[data-short-text]:after {
    text-indent: 50px;
    display: inline-block;
    content: attr(data-short-text);
    letter-spacing: normal;
  }
/* } */

/* @media all and (min-width: 1165px) { */
  .is-hidden--bp5 {
    display: none !important;
  }
/* } */

/* @media all and (min-width:801px) { */
  .site-layout-primary {
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .site-layout-primary__col1 {
    display: none;
    width: 272px;
  }
/* } */

/* @media all and (min-width:801px) { */
  .site-layout-secondary__col3 {
    background: #f4f4f4;
    padding: 18px 18px;
  }
/* } */

/* @media all and (min-width:1155px) { */
  .site-layout-secondary > .grid__col {
    border-width: 18px;
  }
  .site-layout-secondary__col2 {
    width: 314px;
    border-width: 0!important;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 2px 24px;
  }
  .site-layout-secondary__col3 {
    width: 336px;
    border-width: 0!important;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
/* } */

/* @media all and (min-width:1279px) { */
  .site-layout-secondary {
    padding: 0;
  }
/* } */

/* @media all and (min-width:801px) { */
  .site-header__col1 {
    display: none !important;
  }
/* } */

/* @media all and (min-width:1279px) { */
  .site-header__logo {
    margin: 0;
  }
/* } */

/* @media all and (min-width:801px) { */
  .nav-primary-search-input,
  .nav-primary-search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
/* } */

/* @media all and (min-width:1279px) { */
  .nav-primary-desktop__group {
    margin-left: -14px;
  }
  .nav-primary-search-input {
    padding: 10px 12px;
  }
/* } */

/* @media all and (min-width:801px) { */
  .nav-secondary-all {
    width: 100%;
    align: middle;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 18px;
  }
  .nav-secondary-all__head {
    display: inline-block;
    display: none;
  }
  .nav-secondary-all__title-link {
    padding: 7px 12px 5px 14px;
    text-transform: uppercase;
  }
  .nav-secondary-all__frame {
    display: inline-block;
    width: 100%;
  }
  .touch .nav-secondary-all__frame::-webkit-scrollbar {
    background: #f4f4f4;
    width: 9px;
    height: 9px;
  }
  .nav-secondary-all__frame::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  .nav-secondary-all__body {
    width: 100%;
    list-style: none;
    white-space: nowrap;
    padding-left: 14px;
  }
  .nav-secondary-all__item,
  .nav-secondary-all__link {
    display: inline-block;
  }
  .nav-secondary-all__title,
  .nav-secondary-all__title-link {
    font-family: 'SkyTextMed';
    font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #111111;
  }
  .nav-secondary-all__link {
    padding: 9px 10px 10px 10px;
    font-family: 'SkyTextReg';
    font-weight: normal;
    font-size: 16px;
    font-size: 1rem;
    color: #333333;
  }
  .nav-secondary-all__link:hover,
  .nav-secondary-all__link--on {
    background: #eaeaea;
    border-radius: 3px;
  }
  .nav-secondary-all__section {
    display: none;
  }
  .nav-secondary-all__offset {
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
/* } */

/* @media all and (min-width:1279px) { */
  .nav-secondary-all__body {
    padding-left: 0;
  }
/* } */

/* @media all and (min-width:601px) { */
  .news-list__body .label__tag {
    font-family: 'SkyTextReg';
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    color: #214cb8;
  }
  .news-list__body .label__timestamp {
    font-family: 'SkyTextReg';
    font-weight: normal;
    font-size: 14px;
    font-size: 0.875rem;
    color: #666666;
  }
/* } */

/* @media all and (min-width:601px) { */
  .feature-block__body .label__tag {
    color: #ffffff;
  }
/* } */

/* @media all and (min-width:1155px) { */
  .news-list-featured {
    display: block;
  }
/* } */

/* @media all and (min-width:1155px) { */
  .opinion-block__item-hero {
    padding: 24px;
  }
  .opinion-block__item-hero .opinion-block__figure {
    width: 20%;
  }
  .opinion-block__item-hero .opinion-block__link {
    font-size: 32px;
    margin-bottom: 0;
  }
  .opinion-block__item-hero .opinion-block__snippet {
    font-family: 'SkyTextReg';
    font-weight: normal;
    font-size: 18px;
    font-size: 1.125rem;
    color: #333333;
  }
/* } */

/* @media all and (min-width:801px) { */
  .photo-feature__body {
    background: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%);
    background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%);
    width: 440px;
    position: absolute;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 32px;
    padding-right: 0;
    pointer-events: none;
  }
  .photo-feature__body .label__tag,
  .photo-feature__body .action-link {
    color: #ffffff;
  }
  .photo-feature__link {
    display: block;
    font-family: 'SkyTextMed';
    font-weight: normal;
    font-size: 36px;
    font-size: 2.25rem;
    color: #111111;
    color: white;
    line-height: 1.2;
  }
  .photo-feature__category {
    font-family: 'SkyTextReg';
    font-weight: normal;
    font-size: 22px;
    font-size: 1.375rem;
    color: #333333;
    color: white;
    display: block;
    margin-bottom: 24px;
  }
/* } */

/* @media all and (min-width:1155px) { */
  .photo-feature__body {
    padding: 48px;
    padding-right: 0;
  }
/* } */

/* @media all and (min-width:1279px) { */
  .page-header {
    padding-left: 0;
  }
/* } */

/* @media all and (min-width:1279px) { */
  .site-footer__body {
    padding: 40px 0;
  }
/* } */