.button {
  display: inline-block;
  padding: 9px 12px 10px 12px;
  .primary-headline(@text-m);
  background-color: @dark-bg;
  text-align: center;
  margin: 4px;
}

.button--block {
  display: block;
}
