// PROJECT SETTINGS
// Set project specific variables such as font size, unit sizes, colors and gradients
// ============================================================================


// MAIN SITE DIMENSIONS

@site-max-width: 1002px;
@primary-nav-mobile-width: 272px;


// BREAKPOINTS

@bp30-max: ~"max-width:600px";

@bp20-min: ~"min-width:601px";
@bp20-max: ~"max-width:800px";

@bp10-min: ~"min-width:801px";
@bp10-max: ~"max-width:10000px";

@bp5-min: ~"min-width:10000px";
@bp5-max: ~"min-width:10000px";

@not-bp30: ~"min-width:601px";

// COLOR PALETTES

@sky-sports-red: #da2331;
@sky-sports-blue: #214CB8;
@blue-mid: #011b51;
@blue-light: #0a3389;

@header-color1: #011b51;
@header-color2: #0a3389;

@nav-primary-desktop-color1: @header-color1;

// TEXT

@text-dark: #111111;
@text-primary: #333333;
@text-secondary: #666666;
@text-light: #999999;

@off-white: white;
@dark-bg: #eaeaea;
@light-bg: #eeefef;
@keyline: #dcdcdc;

@site-background: white;

@webkit-tap-highlight-color: ~"rgba(0,0,0,0.08)";


// DECLARE FONTS

@font-face {
  font-family: 'SkyTextReg';
  src:url('../fonts/sky_reg-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/sky_reg-webfont.woff') format('woff'),
      url('../fonts/sky_reg-webfont.ttf')  format('truetype')
}

@font-face {
  font-family: 'SkyTextMed';
  src:url('../fonts/sky_med-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/sky_med-webfont.woff') format('woff'),
      url('../fonts/sky_med-webfont.ttf')  format('truetype')
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/skycons-skysports-20131224.ttf')  format('truetype')
}

// TEXT STYLES

@base-text-size: 16;
@text-s: 14;
@text-m: 16;
@text-ml: 18;
@text-l: 22;
@text-xl: 26;
@text-xxl: 32;
@text-xxxl: 36;

// function to calculate rem and pixel font sizes and return the values

.calc-text-size(@size){
  @remValue: @size / @base-text-size;
  @pxValue: @size;
}

.primary-headline(@size){
  // used in top story component;
  font-family: 'SkyTextMed';
  font-weight: normal;

  .calc-text-size(@size);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
  color: @text-dark;
}

.secondary-headline(@size){
  // used for small headlines in related links
  font-family: 'SkyTextReg';
  font-weight: normal;

  .calc-text-size(@size);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
  color: @text-primary;
}

.body-copy(@size){
  // used in top story component;
  font-family: 'SkyTextReg';
  font-weight: normal;

  .calc-text-size(@size);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";

  color: @text-primary;
}

.caption(@size) {
  // used for datestamps
  font-family: 'SkyTextReg';
  font-weight: normal;

  .calc-text-size(@size);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
  color: @text-secondary;
}

.label(@size) {
  // used for tags/labels
  font-family: 'SkyTextReg';
  font-weight: normal;

  .calc-text-size(@size);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
  color: @sky-sports-blue;
}



// BLOCK UNITS
// used to set margins, column gaps and padding

// mobile site left and right padding/margin

@bp30-site-margin: 14px;
@bp10-site-margin: 14px;

@island-padding-l: 32px;
@island-padding-m: 24px;
@island-padding-s: 18px @bp30-site-margin;


@island-padding-nobg-s: 6px @bp30-site-margin;

// for shaded right hand col

@island-padding-shaded-col: 18px 18px;
@island-padding-nobg-col: 2px 24px;

@col-gap-l: 24px;
@col-gap-m: 18px;
@col-gap-s: 12px;

@component-gap-l: 24px;
@component-gap-m: 18px;
@component-gap-s: 12px;

@box-gap-l: 32px;
@box-gap-m: 24px;
@box-gap-s: 18px;


@block-margin-l: 28px;
@block-margin-m: 20px;
@block-margin-s: 16px;

// border radius

@border-radius-s: 3px;
@border-radius-m: 5px;
@border-radius-l: 8px;

// data promo widgets

@data-promo-row-height: 36px;
.data-promo-cell() {
  display: table-cell;
  height: @data-promo-row-height;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  .primary-headline(@text-s)
}


// styles

.style-panel1(){
  background:#777
}

// transitions

.transition-transform-m(){
  -webkit-transition: -webkit-transform 0.33s ease-in-out;
  -moz-transition: -moz-transform 0.33s ease-in-out;
  transition: transform 0.33s ease-in-out;
}
