/**
 * PROJECT SETTINGS
 * Set project specific variables such as font size, unit sizes, colors and gradients
 * ============================================================================
*/

/* main site dimensions */

@site-max-width: 1024px;
@primary-nav-mobile-width: 280px;

/* body backgrounds */

.body-background(){
	background:#aaa
}

.body-background-bp20(){
	background:#888
}

.body-background-bp30(){
	background:#555
}

/* wrapper background */

@wrap-background: white;


/* Declare fonts */

@font-face {
  font-family: 'SkyNews';
  src:url('../fonts/skynews.eot?#iefix') format('embedded-opentype'),
      url('../fonts/skynews.woff') format('woff'),
      url('../fonts/skynews.ttf')  format('truetype')
}

@font-face {
  font-family: 'SkyNewsReg';
  src:url('../fonts/skynews-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/skynews-regular.woff') format('woff'),
      url('../fonts/skynews-regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'SkyNewsBold';
  src:url('../fonts/skynews-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/skynews-bold.woff') format('woff'),
      url('../fonts/skynews-bold.ttf')  format('truetype')
}

/* Font sizes */

.font-size-xs(){
	font-size: 12px;
	font-size:0.75rem;
}

.font-size-s(){
	font-size: 14px;
	font-size:0.875rem
}

.font-size-m(){
	font-size: 16px;
	font-size:1rem
}

.font-size-l(){
	font-size: 20px;
	font-size: 1.25rem;
}

.font-size-xl(){
	font-size: 24px;
	font-size:1.5rem
}

.font-size-xxl(){
	font-size: 30px;
	font-size:1.875rem
}

.font-size-xxxl(){
	font-size: 42px;
	font-size: 2.625rem
}

/* font families */

.font-primary() {
	font-family:'SkyNews';
	font-weight:normal
}

.font-primary-reg() {
	font-family:'SkyNewsReg';
	font-weight:normal
}

.font-primary-bold() {
	font-family:'SkyNewsBold';
	font-weight:normal

}


/* box units - used in margins and padding */

@box-unit-s: 12px;
@box-unit-m: 18px;
@box-unit-l: 24px;

@box-unit-s-bp20: 12px;
@box-unit-m-bp20: 16px;
@box-unit-l-bp20: 20px;

@box-unit-s-bp30: 9px;
@box-unit-m-bp30: 14px;
@box-unit-l-bp30: 18px;


/* border radius */

@border-radius-s: 3px;
@border-radius-m: 5px;
@border-radius-l: 8px;


/* styles */

.style-panel1(){
  background:#777
}

/* transitions */

.transition-transform-m(){
  -webkit-transition:-webkit-transform 0.33s ease-in-out;
  -moz-transition:-moz-transform 0.33s ease-in-out;
  transition:transform 0.33s ease-in-out;
}
