// LABEL
// Labels, captions, date stamps and tags
// ============================================================================

.label {
  white-space: nowrap;
  overflow: hidden;
}

.label__tag,
.label__timestamp {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	vertical-align: middle;
}

.label__tag {
	.label(@text-m);
	border-right: 12px solid transparent;
	max-width: 270px;
}

.label__timestamp {
	.caption(@text-m);
	width: 100%;
}


@media all and (@bp30-max) {

	.label__tag {
		max-width: 168px;
		border-right: 8px solid transparent
	}

	.label__tag {
		.label(@text-s);
	}

	.label__timestamp {
		.caption(@text-s);
	}

}

