/**
 * ACCORDIAN
 * Accordian/concertina component using css transforms for smooth mobile animations
 * ============================================================================
 */

/* base styles */

.accordian__item {

  .transform(translateZ(0));

  -webkit-transition: -webkit-transform 0.166s ease-in-out;
  -moz-transition: -moz-transform 0.166s ease-in-out;
  transition: transform 0.166s ease-in-out;

  position: relative;
  margin-bottom: 1px;
}

.accordian__item-head {
  background:black;
  color:white;
  padding: 9px
}

.accordian__item-content-frame {
  position: absolute;
  width: 100%;
  overflow: hidden
}

.accordian__item-content {

  .transform(translateY(-100%));

  -webkit-transition: -webkit-transform 0.166s ease-in-out;
  -moz-transition: -moz-transform 0.166s ease-in-out;
  transition: transform 0.166s ease-in-out;

  padding:12px 0;
}
