.site-header {
  margin-bottom: @box-gap-l
}

.site-header__body {
  background: @blue-mid;
  height: 100px;
}

.site-header__body > .grid__col {
  text-align: left
}


@media all and (@bp20-max){
  .site-header {
    margin-bottom: @box-gap-s
  }

  .site-header__body {
    height: 80px;
  }
}

@media all and (@bp30-max){

  .site-header {
    margin-bottom: 0
  }

  .site-header__body {
    height: 58px;
  }
}
