// SITE HEADER

.site-header {
  background-image: url(/_sandbox/site-header-bg.jpg);
  background-position: 50% 0;
  background-size: auto 100%;
  background-color: @blue-mid;
}

.site-header__body {
  max-width: @site-max-width;
  margin: 0 auto;
  .display-table();
  height: 100px;
}

.site-header__col {

  display: table-cell;
  vertical-align: middle;
  padding-top: 12px

}

.site-header__logo {
  width: 290px;
  height: 48px;
  margin: 0 0 0 @bp30-site-margin;
}


// site header links

.site-header__links {
  display: inline-block;
  padding: 0 20px 0 0
}

.site-header__link {
  .primary-headline(@text-m);
  color: white;
  display: inline-block;;
  padding: 3px 10px
}

.site-header__sign-in-link:before {
  content:"\e005";
  font-family: icons;
  margin-right: 8px
}

@media all and (@bp10-min){

  .site-header__col1 {

    display: none!important
  }

  .site-header__col2 {
    width: 310px
  }

  .site-header__col3 {

    text-align: right;
    white-space: nowrap

  }
}

@media all and (@bp5-max){
  .site-header__logo {
    margin: 0;
  }
}

@media all and (@bp20-max){

  .site-header {
  }

  .site-header__body,
  .site-header__body > .grid__col {
    height: 80px
  }

  .site-header__logo {
    width: 218px;
    height: 38px;
    margin: 0;
  }

  .site-header__col {
    padding-top: 0
  }

  .site-header__col1,
  .site-header__col3 {
    width: 70px;
  }

  .site-header__col1 {
    cursor: pointer;
  }

  .site-header__col2 {
    text-align: center
  }

  // mobile nav hamburger
  .site-header__hamburger {
    font-size: 25px;
    display: inline-block;
    margin-left: @bp30-site-margin + 5px;
    color: white;
  }

  .site-header__hamburger:before {
    content: "\e02c";
    font-family: icons;
  }

  .site-header__col1:active {
    background : @webkit-tap-highlight-color
  }

  // hide header links and search box
  .site-header__links {
    display: none!important
  }
}

@media all and (@bp30-max){

  .site-header__hamburger {
    font-size: 20px;
    margin-left: @bp30-site-margin;
  }

  .site-header {
    margin-bottom: 0
  }

  .site-header__body,
  .site-header__body > .grid__col {
    height: 58px
  }

  .site-header__logo {
    width: 168px;
    height: 28px;
    margin: 0;
  }

  .site-header__col1,
  .site-header__col3 {
    width: 50px;
  }
}
