/**
 * UTLITY CLASSES
 * General utility classes
 * ALways prefixed with u-
 * ============================================================================
 */

 /* overflow */

.u-overflow-hidden {
	position: relative;
	overflow:hidden
}

.u-clip {
	max-width: 100%;
	white-space: nowrap;
	overflow:hidden
}

.u-ellipsis {
	max-width: 100%;
	white-space: nowrap;
	overflow:hidden;
	text-oveflow: ellipsis
}


/* display */

.u-inline {
   display: inline;
}

.u-inline-block {
   display: inline-block;
}

.u-block {
   display: block;
}

.u-table {
   display: table;
}

.u-table-cell {
   display: table-cell;
}


/* align */

.u-text-left {
	text-align: left
}

.u-text-right {
	text-align: right
}

.u-text-center {
	text-align: center;
	justify-content:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center
}


/* position */

.u-absolute {
	position:absolute;
}

.u-relative {
	position: relative;
}

.u-static {
	position:static
}

.u-fixed {
	position: fixed
}


/* xy position */

.u-x-right {
	position:absolute;
	right:0;
	left:auto;
}

.u-x-left {
	position:absolute;
	left:0;
	right:auto
}

.u-y-top {
	position:absolute;
	top:0;
	bottom:auto
}

.u-y-bottom {
	position:absolute;
	bottom:0;
	top:auto
}
