@media all and (max-width:800px){

	.short-text-bp20 {
		margin-top:-1.3em;
		white-space:pre-wrap;
		letter-spacing:-100px;
		position: relative;
		overflow:hidden;
	}

	.short-text-bp20[data-short-text]:after {
		display:block;
		content:attr(data-short-text);
		letter-spacing: normal;
	}

}

@media all and (max-width:600px){

	.short-text-bp30 {
		letter-spacing:-100px;
		position: relative;
		overflow:hidden;
	}

	.short-text-bp30[data-short-text]:after {
		display:block;
		content:attr(data-short-text);
		letter-spacing: normal;
	}

}

