@-webkit-keyframes callfn {
  0% {
    outline:0;
  }
  100% {
    outline:0;
  }
}

@-moz-keyframes callfn {
  0% {
    outline:0;
  }
  100% {
    outline:0;
  }
}

@keyframes callfn {
  0% {
    outline:0;
  }
  100% {
    outline:0;
  }
}
