// CALLFN
// An empty animation that we can use to hook an animationEventStart in javascript
// ============================================================================

@-webkit-keyframes callfn {
  0% {
    outline:0;
  }
  100% {
    outline:0;
  }
}

@-moz-keyframes callfn {
  0% {
    outline:0;
  }
  100% {
    outline:0;
  }
}

@keyframes callfn {
  0% {
    outline:0;
  }
  100% {
    outline:0;
  }
}

.callfn {
  -webkit-animation:callfn 0.01s;
  -moz-animation:callfn 0.01s;
  animation:callfn 0.01s;
}
