/**
 * SITE BASE
 * Set widths for wrapper class
 * Set body backgrounds
 * ============================================================================
*/

body {
	background: @site-background;
}

/*  site wrapper settings */

.wrap {
	margin: 0 auto;
	max-width: @site-max-width;
  min-height: 100vh;
}
