.is-hidden {
	display:none;
}

.is-invisible {
	visibility:hidden;
}

.is-visually-hidden {
	position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

.is-not-interactive {
	pointer-events:none;
	cursor:default;
}

.is-interactive {
	cursor:pointer
}

.is-disabled {
	cursor:default
}

.is-not-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


@media all and (min-width:801px){
	.is-hidden--bp10 {
		display:none
	}
}

@media all and (max-width:800px){
	.is-hidden--bp20 {
		display:none
	}
}

@media all and (max-width:600px){
	.is-hidden--bp30 {
		display:none
	}
}