/**
 * LISTS
 * Basic styles for bulleted and normal lists
 * ============================================================================
 */


/* standard list */

.list {
	list-style:none;
	padding:0;
}

.list__item {
	margin-bottom:0.3em
}

.list__link {
	.secondary-headline(@text-m);
}

// add a bullet
.list__item:before {
	content:"";
	background:@text-light;
	margin-right:10px;
	display:inline-block;
	width:0.35em;
	height:0.35em;
	top:-1px;
	position: relative;
	border-radius:50%;
	vertical-align:middle;
}

// sits under a top story - 2 columns, collapses to 1 column for mobile
.list--related {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

@media all and (@bp30-max){
	.list--related {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}




