// LISTS
// Basic styles for bulleted and normal lists
// ============================================================================


// standard list
.list {
	list-style:none;
	padding:0;
}

.list__item {
	margin-bottom:0.2em
}

//a block of links, 2 cols at desktop/ 1 col at mobile
.list--block {
  .columns(2);
}

// horizontal list of links
.list--bar > .list__item {
  display: inline-block;
  margin-right: 12px;
}

// add a bullet
.list--bullet > .list__item:before {
	content:"";
	background:@text-light;
	margin-right:10px;
	display:inline-block;
	width:0.35em;
	height:0.35em;
	top:-1px;
	position: relative;
	border-radius:50%;
	vertical-align:middle;
}

@media all and (@bp30-max){
  .list--block {
    .columns(1);
  }
}




