.mini-table {
  width: 100%;
  table-layout: fixed;
  outline: 1px solid red
}

.mini-table th,
.mini-table td {
  overflow: hidden;
  white-space: nowrap;
}

// column widths per component iteration

.mini-table--football-league__col1 {
  width: 10%
}

.mini-table--football-league__col3 {
  width: 10%
}

.mini-table--football-league__col4 {
  width: 10%
}
