<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Sky Sports">
  <meta name="application-name" content="Sky Sports">
  <meta name="viewport" id="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  <link rel="stylesheet" href="/css/core.css" type="text/css">
  <script src="/js/head.js"></script>
</head>

<body>
<div class="wrap">

  <div class="accordian callfn" data-fn="accordian">

      <div class="accordian__item">
        <div class="accordian__item-head">ACCORDIAN ITEM <span> la</span></div>
        <div class="accordian__item-content-frame">
          <div class="accordian__item-content">
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
          </div>

        </div>
      </div>

      <div class="accordian__item">
        <div class="accordian__item-head">ACCORDIAN ITEM</div>
        <div class="accordian__item-content-frame">

          <div class="accordian__item-content">
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>

          </div>

        </div>
      </div>

      <div class="accordian__item">
        <div class="accordian__item-head">ACCORDIAN ITEM</div>
        <div class="accordian__item-content-frame">

          <div class="accordian__item-content">
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>

          </div>

        </div>
      </div>

      <div class="accordian__item">
        <div class="accordian__item-head">ACCORDIAN ITEM</div>
        <div class="accordian__item-content-frame">

          <div class="accordian__item-content">
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT

          </div>

        </div>
      </div>

      <div class="accordian__item">
        <div class="accordian__item-head">ACCORDIAN ITEM</div>
        <div class="accordian__item-content-frame">
          <div class="accordian__item-content">
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
          </div>

        </div>
      </div>

      <div class="accordian__item">
        <div class="accordian__item-head">ACCORDIAN ITEM</div>
        <div class="accordian__item-content-frame">
          <div class="accordian__item-content">
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
            ACCORDIAN CONTENT<br>
          </div>

        </div>
      </div>

  </div>


</div>
</body>
  <script src="/js/site.js"></script>
</html>
