<div class="bet-block">
  <div class="bet-block__match-list">
  <h4 class="bet-block__header">Serie A</h4>
      <ul class="bet-block__group">
        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/1000</span> Man City
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Stoke <span class="bet-block__item-odds">1000/1</span>
          </a>
        </li>

        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/2</span> West Brom
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Fulham <span class="bet-block__item-odds">6/1</span>
          </a>
        </li>

        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/2</span> West Ham
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Southampton <span class="bet-block__item-odds">6/1</span>
          </a>
        </li>

        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/2</span> C Palace
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Man Utd <span class="bet-block__item-odds">6/1</span>
          </a>
        </li>

        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/2</span> Norwich
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Spurs <span class="bet-block__item-odds">6/1</span>
          </a>
        </li>

        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/2</span> Newcastle
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Aston Villa <span class="bet-block__item-odds">6/1</span>
          </a>
        </li>

        <li class="bet-block__item">
          <a href="#home" class="bet-block__item-col bet-block__item-home">
            <span class="bet-block__item-odds">1/2</span> Liverpool
          </a>

          <a href="#draw" class="bet-block__item-col bet-block__item-draw">
            <span class="bet-block__item-odds">9/4</span>
          </a>

          <a href="#away" class="bet-block__item-col bet-block__item-away">
            Swansea <span class="bet-block__item-odds">6/1</span>
          </a>
        </li>

      </ul>

    <ul class="list list--bar">
      <li class="list__item"><a href="#" class="action-link">Sky Bet Specials</a></li>
    </ul>
  </div>
</div>

