<div class="grid feature-block box-gap">


  <div class="grid__col feature-block__item">
    <a href="#" class="feature-block__figure">
      <img src="http://e0.365dm.com/14/01/16-9/40/CharlotteEdwardsEnglandODI_3073747.jpg?20140128100323" class="feature-block__image">
    </a>
    <div class="feature-block__body">
      <div class="label">
        <a href="#" class="label__tag">Ian Botham</a>
      </div>
      <h4 class="feature-block__headline">
        <a href="#" class="feature-block__link">
          Good call on Cook says Beefy
        </a>
    </h4>
    </div>

  </div>

  <div class="grid__col feature-block__item">
    <a href="#" class="feature-block__figure">
      <img src="http://e0.365dm.com/14/01/16-9/40/Manchester-United-v-Cardiff-Juan-Mata_3074148.jpg?20140128225300" class="feature-block__image">
    </a>
    <div class="feature-block__body">
      <div class="label">
        <a href="#" class="label__tag">Features</a>
      </div>
      <h4 class="feature-block__headline">
        <a href="#" class="feature-block__link">
          Mata Watch
        </a>
      </h4>
    </div>

  </div>

  <div class="grid__col feature-block__item">
    <a href="#" class="feature-block__figure">
      <img src="http://e0.365dm.com/14/01/16-9/40/steven-gerrard-captain-liverpool-england_3073270.jpg?20140127094515" class="feature-block__image">
    </a>
    <div class="feature-block__body">
      <div class="label">
        <a href="#" class="label__tag">Features</a>
      </div>
      <h4 class="feature-block__headline">
        <a href="#" class="feature-block__link">Captain fantastic</a>
      </h4>
    </div>

  </div>
</div>
