<div class="grid feature-block block">


  <div class="grid__col feature-block__item">
    <a href="#" class="feature-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/skybet1.jpg" class="postpone-load feature-block__image">
    </a>
    <div class="feature-block__body">
      <h4 class="feature-block__headline">
        <a href="#" class="feature-block__link">
         Chelsea to beat Arsenal 3-1 now 14/1
        </a>
    </h4>
    </div>

  </div>

  <div class="grid__col feature-block__item">
    <a href="#" class="feature-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/skybet2.jpg" class="postpone-load feature-block__image">
    </a>
    <div class="feature-block__body">
      <h4 class="feature-block__headline">
        <a href="#" class="feature-block__link">
          Download our new mobile and tablet apps
        </a>
      </h4>
    </div>

  </div>

  <div class="grid__col feature-block__item">
    <a href="#" class="feature-block__figure">
      <img src="<?php echo $blank_image ?>"  data-image-src="/_sandbox/skybet3.jpg" class="postpone-load feature-block__image">
    </a>
    <div class="feature-block__body">
      <h4 class="feature-block__headline">
        <a href="#" class="feature-block__link">Get a free £5 bet every week</a>
      </h4>
    </div>

  </div>


</div>
