<div class="feature-promos block <?php echo $display ?>">
  <a href="#" class="feature-promo">

    <div class="feature-promo__figure">
      <div href="#" class="feature-promo__thumb">
        <img class="feature-promo__image" src="/_sandbox/fantasy-football.jpeg">
      </div>
    </div>

    <div href="#" class="feature-promo__body">
      <h4 class="feature-promo__headline">Fantasy Football</h4>
      <p class="feature-promo__snippet">Ozil or hazard...who will bring home the points?</p>
    </div>

  </a>

  <a href="#" class="feature-promo">

    <div class="feature-promo__figure">
      <div href="#" class="feature-promo__thumb">
        <img class="feature-promo__image" src="http://e1.365dm.com/14/02/190x190/paper-talk-square-feature_3078974.jpg">
      </div>
    </div>

    <div href="#" class="feature-promo__body">
      <h4 class="feature-promo__headline">Paper Talk</h4>
      <p class="feature-promo__snippet">Antonio Valencia to join the United exodus</p>
    </div>

  </a>

  <a href="#" class="feature-promo">

    <div class="feature-promo__figure">
      <div href="#" class="feature-promo__thumb">
        <img class="feature-promo__image" src="http://images.teamtalk.com/14/02/190x190/nowtv-square-feature_3078993.jpg">
      </div>
    </div>

    <div href="#" class="feature-promo__body">
      <h4 class="feature-promo__headline">Sky Sports Day pass</h4>
      <p class="feature-promo__snippet">Watch Sky Sports for a day for £9.99</p>
    </div>

  </a>

  <a href="#" class="feature-promo">

    <div class="feature-promo__figure">
      <div href="#" class="feature-promo__thumb">
        <img class="feature-promo__image" src="http://e1.365dm.com/13/10/190x190/la-liga-podcast-la-liga-podcast-weekly_3022618.jpg?20131120092929">
      </div>
    </div>

    <div href="#" class="feature-promo__body">
      <h4 class="feature-promo__headline">Podcasts</h4>
      <p class="feature-promo__snippet">Never miss a moment with our podcasts</p>
    </div>

  </a>

</div>
