<div class="news-list-secondary block <?php echo $type ?>">
  <h3 class="news-list-secondary__subhead">Premier League</h3>
  <ul class="list news-list-secondary__group">
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">Holtby joins Fulham on loan</a>
    </li>
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">City keen on Mangala</a>
    </li>
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">Cardiff seal Zaha/Fabio deals</a>
    </li>
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">Sherwood: No moves from Spurs</a>
    </li>
  </ul>
  <h3 class="news-list-secondary__subhead">Championship</h3>
  <ul class="list news-list-secondary__group">
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">Stoke back in for Cattermole</a>
    </li>
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">Moyes: No more United signings</a>
    </li>
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">Holtby joins Fulham on loan</a>
    </li>
  </ul>
  <h3 class="news-list-secondary__subhead">FA Cup</h3>
  <ul class="list news-list-secondary__group">
    <li class="news-list-secondary__item">
      <a href="#" class="news-list-secondary__link">City keen on Mangala</a>
    </li>
  </ul>

  <ul class="list list--bar">
    <li class="list__item"><a href="#" class="action-link">News Wire</a></li>
  </ul>

</div>
