
<?php

  if($nlftype == 'mini'){

    echo '<div class="grid news-list-featured box-gap '.$display.'">

    <div class="grid__col news-list-featured__item news-list-featured__item--mini">
        <div class="label">
          <a href="#" class="label__tag">Live blog</a>
        </div>
        <h3 class="news-list-featured__headline">
            <a class="news-list-featured__link" href="#">Wednesday Football <span class="label-live">LIVE!</span></a>
          </h3>
        <div class="news-list-featured__figure news-list-featured__figure--mini">
          <a href="#" class="news-list-featured__thumb">
            <img src="'.$blank_image.'" data-image-src="http://e0.365dm.com/14/01/1-1/40/Yevhen-Konoplyanka_3075174.jpg?20140130121915" class="postpone-load news-list-featured__image">
          </a>
        </div>
        <div class="news-list-featured__body">
          <p class="news-list-featured__snippet">Team news, scores and live updates from Wednesday\'s action.</p>
        </div>

        <ul class="list">
          <li class="list__item"><a href="#" class="action-link">R Madrid 1 - A Madrid 0</a></li>
          <li class="list__item"><a href="#" class="action-link">Man C 0 - Chelsea 0</a></li>
        </ul>
      </div>
      <div class="grid__col news-list-featured__item news-list-featured__item--mini">
        <div class="label">
          <a href="#" class="label__tag">Premier League</a>
        </div>
        <h3 class="news-list-featured__headline">
            <a class="news-list-featured__link" href="#">Mourhino masterclass</a>
          </h3>
        <div class="news-list-featured__figure news-list-featured__figure--mini">
          <a href="#" class="news-list-featured__thumb">
            <img src="'.$blank_image.'" data-image-src="http://e2.365dm.com/14/02/1-1/40/mourinho_3077874.jpg?20140204080439" class="postpone-load news-list-featured__image">
          </a>
        </div>
        <div class="news-list-featured__body">
          <p class="news-list-featured__snippet">Matt Stanger has the highest praise for the Portuguese tactician.</p>
        </div>

        <ul class="list">
          <li class="list__item"><a href="#" class="action-link">Cech: City favourites</a></li>
          <li class="list__item"><a href="#" class="action-link">Man C 0 - Chelsea 0</a></li>
        </ul>
      </div>

    </div>';
  }

  else {

    echo '<div class="grid news-list-featured box-gap '.$display.'">
    <div class="grid__col news-list-featured__item">
    <div class="news-list-featured__figure">
      <a href="#" class="news-list-featured__thumb">
        <img src="'.$blank_image.'" data-image-src="http://e0.365dm.com/14/02/16-9/30/Jose-Mourinho_3077772.jpg" class="postpone-load news-list-featured__image">
      </a>
    </div>
    <div class="news-list-featured__body">
      <div class="label">
        <a href="#" class="label__tag">Live blog</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h3 class="news-list-featured__headline">
        <a class="news-list-featured__link" href="#">Wednesday Football <span class="label-live">LIVE!</span></a>
      </h3>
      <ul class="list">
          <li class="list__item"><a href="#" class="action-link">R Madrid 1 - A Madrid 0</a></li>
          <li class="list__item"><a href="#" class="action-link">Man C 0 - Chelsea 0</a></li>
        </ul>
    </div>
  </div>

  <div class="grid__col news-list-featured__item">
    <div class="news-list-featured__figure">
      <a href="#" class="news-list-featured__thumb">
        <img src="echo '.$blank_image.'" data-image-src="http://e0.365dm.com/14/02/16-9/30/165012893_3145308107001_video-still-for-video-3145450990001.jpg" class="postpone-load news-list-featured__image">
      </a>
    </div>
    <div class="news-list-featured__body">
      <div class="label">
        <a href="#" class="label__tag">Championship</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h3 class="news-list-featured__headline">
        <a class="news-list-featured__link" href="#">Leeds v Sheff Utd preview</a>
      </h3>
      <ul class="list">
        <li class="list__item"><a href="#" class="action-link">McDermott refuses to resign</a></li>
        <li class="list__item"><a href="#" class="action-link">Match betting</a></li>
      </ul>
    </div>
  </div>

</div>';


  };
?>

