<div class="news-list box-gap">

  <?php

  $line = '<div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="http://e0.365dm.com/14/01/128x67/Arsene_3068898.jpg?20140118183909" class="news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">Transfer Window</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">Wenger hints at January deals</a></h4>
      <p class="news-list__snippet">Arsene Wenger may have to bring in new faces before the end of the January transfer window after injury setbacks.</p>
    </div>

  </div>';


  echo str_repeat($line, 4);

  ?>


</div>
