<div class="news-list block">

  <div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/14/01/128x67/Arsene_3068898.jpg?20140118183909" class="postpone-load news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">Transfer Window</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">Wenger hints at January deals</a></h4>
      <p class="news-list__snippet">Arsene Wenger may have to bring in new faces before the end of the January transfer window after injury setbacks.</p>
    </div>

  </div>

  <div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/14/01/128x67/LEWIS-HOLTBY_3069205.jpg?20140119152850" class="postpone-load news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">Fulham</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">Holtby joins Fulham on loan</a></h4>
      <p class="news-list__snippet">Germany midfielder Lewis Holtby has joined Fulham on loan from Tottenham until the end of the season.</p>
    </div>

  </div>

  <div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/14/01/128x67/Dimitar_3064130.jpg?20140110161011" class="postpone-load news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">Transfer Window</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">Berbatov poised for Fulham</a></h4>
      <p class="news-list__snippet">Fulham striker Dimitar Berbatov is due to have a medical with Monaco ahead of an expected deadline-day move.</p>
    </div>

  </div>

  <div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/14/01/128x67/football-club-soccer-eliaquim-mangala-porto_3075693.jpg?20140131093139" class="postpone-load news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">Man City</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">City keen on Mangala</a></h4>
      <p class="news-list__snippet">Manchester City are looking into a deadline day deal for Porto defender Eliaquim Mangala.</p>
    </div>

  </div>

  <div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/13/05/128x67/louis-van-gaal-holland-football_2953001.jpg?20140120093826" class="postpone-load news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">World Cup</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">Van Gaal reveals Prem plan</a></h4>
      <p class="news-list__snippet">Holland national coach Louis van Gaal has announced that he is looking to land a post in England after the World Cup.</p>
    </div>

  </div>

  <div class="news-list__item">

    <div class="news-list__figure">
      <a href="#" class="news-list__thumb">
        <img src="<?php echo $blank_image ?>" data-image-src="http://e1.365dm.com/13/10/128x67/Swansea-Michu_3024200.jpg?20131024223427" class="postpone-load news-list__image">
      </a>
    </div>

    <div class="news-list__body">
      <div class="label">
        <a href="#" class="label__tag">Europa League</a>
        <div class="label__timestamp">23/4/2014</div>
      </div>
      <h4 class="news-list__headline"><a href="#" class="news-list__headline-link">Swansea vs Napoli preview</a></h4>
      <p class="news-list__snippet">Rafael Benitez returns to the UK as Napoli take on Swansea in the first leg of their Europa League last-32 clash.</p>
    </div>

  </div>

  <a href="#" class="button button--block news-list__load-more is-hidden--bp5 is-hidden--bp10">Load More</a>

</div>
