<div class="grid opinion-block block">
  <div class="grid__col">
  <div class="opinion-block__item opinion-block__item-hero">
    <div class="opinion-block__figure">
      <a href="#" class="opinion-block__thumb">
        <img class="postpone-load opinion-block__image" src="<?php echo $blank_image?>" data-image-src="http://e2.365dm.com/13/07/1-1/50/gary-neville-expert-football-opinion_2976909.jpg?20130723101443">
      </a>
    </div>

    <div class="opinion-block__body">
      <div class="label">
        <a href="#" class="label__tag">Gary Neville</a>
      </div>
      <h4 class="opinion-block__headline">
        <a href="#" class="opinion-block__link">
         Juan the man for job
        </a>
      </h4>
      <p class="opinion-block__snippet">Nial Quinn says Arsenal' trip to Southampton could have been worse after their 2-2 draw.</p>
    </div>

  </div>

  <div class="opinion-block__item is-hidden--bp5">
    <div class="opinion-block__figure">
      <a href="#" class="opinion-block__thumb">
        <img class="postpone-load opinion-block__image"  src="<?php echo $blank_image?>" data-image-src="http://e1.365dm.com/13/07/1-1/50/jamie-carragher-football-expert-opinion_2976930.jpg?20130723102644">
      </a>
    </div>

    <div class="opinion-block__body">
      <div class="label">
        <a href="#" class="label__tag">Jamie Carragher</a>
      </div>
      <h4 class="opinion-block__headline">
        <a href="#" class="opinion-block__link">
         City still favourites
        </a>
      </h4>
      <p class="opinion-block__snippet">Nial Quinn says Arsenal' trip to Southampton could have been worse after their 2-2 draw.</p>
    </div>

  </div>


  <a href="#" class="opinion-block__hero-image">
    <img class="opinion-block__hero-image postpone-load" src="<?php echo $blank_image?>" data-image-src="http://e0.365dm.com/14/01/660x350/463790903-1-_3075364.jpg?20140130165444">
  </a>

</div>
<div class="grid__col">

  <div class="opinion-block__item callfn adaptive-html is-hidden--bp30 is-hidden--bp20 is-hidden--bp10" data-fn="adaptive-html">
    <script type="html/template">
    <div class="opinion-block__figure">
      <a href="#" class="opinion-block__thumb">
        <img class="opinion-block__image postpone-load" src="<?php echo $blank_image?>" data-image-src="http://e1.365dm.com/13/07/1-1/50/jamie-carragher-football-expert-opinion_2976930.jpg?20130723102644">
      </a>
    </div>

    <div class="opinion-block__body">
      <div class="label">
        <a href="#" class="label__tag">Jamieee Carragher</a>
      </div>
      <h4 class="opinion-block__headline">
        <a href="#" class="opinion-block__link">
         City still favourites
        </a>
      </h4>
      <p class="opinion-block__snippet">Nial Quinn says Arsenal' trip to Southampton could have been worse after their 2-2 draw.</p>
    </div>
    </script>
  </div>


  <div class="opinion-block__item">
    <div class="opinion-block__figure">
      <a href="#" class="opinion-block__thumb">
        <img class="opinion-block__image postpone-load" src="<?php echo $blank_image?>" data-image-src="http://e1.365dm.com/13/07/1-1/50/guillem-balague-football-profile-presenter_2977918.jpg?20130725171718">
      </a>
    </div>

    <div class="opinion-block__body">
      <div class="label">
        <a href="#" class="label__tag">Guillem Balague</a>
      </div>
      <h4 class="opinion-block__headline">
        <a href="#" class="opinion-block__link">
         King Luis of Spain
        </a>
      </h4>
      <p class="opinion-block__snippet">Nial Quinn says Arsenal' trip to Southampton could have been worse after their 2-2 draw.</p>
    </div>

  </div>

  <div class="opinion-block__item">
    <div class="opinion-block__figure">
      <a href="#" class="opinion-block__thumb">
        <img class="opinion-block__image postpone-load"  src="<?php echo $blank_image?>" data-image-src="http://e2.365dm.com/13/07/1-1/50/paul-merson-football-expert-opinion_2977086.jpg?20130723152239">
      </a>
    </div>

    <div class="opinion-block__body">
      <div class="label">
        <a href="#" class="label__tag">Paul Merson</a>
      </div>
      <h4 class="opinion-block__headline">
        <a href="#" class="opinion-block__link">
         Chelsea won't lose
        </a>
      </h4>
      <p class="opinion-block__snippet">Nial Quinn says Arsenal' trip to Southampton could have been worse after their 2-2 draw.</p>
    </div>

  </div>
</div>
</div>
