<div class="nav-secondary-all callfn" data-fn="nav-secondary-all" data-inline-nav="true">

  <div class="nav-secondary-all__head">
    <h3 class="nav-secondary-all__title"><a href="/" class="nav-secondary-all__title-link">Football</a></h3>
    <h4 class="nav-secondary-all__section"></h4>
  </div>

    <div class="nav-secondary-all__frame">
      <ul class="nav-secondary-all__body">

        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">News</a></li>
         <li class="nav-secondary-all__item"><a href="http://www1.skysports.com/football/teams/" class="nav-secondary-all__link" onclick="location.href=this.href">Teams A-Z</a></li>
        <li class="nav-secondary-all__item"><a href="http://www1.skysports.com/football/teams/" class="nav-secondary-all__link" onclick="location.href=this.href">Leagues &amp; Cups</a></li>

        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Fixtures</a></li>
        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Results</a></li>

        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Tables</a></li>

        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Video</a></li>
        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Score Centre</a></li>
        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Pundits</a></li>
        <li class="nav-secondary-all__item"><a href="#" class="nav-secondary-all__link">Bet</a></li>
      </ul>
    </div>

    </div>
