<div class="photo-feature box-gap">
  <a href="#" class="photo-feature__figure">
    <img src="<?php echo $blank_image ?>" data-image-src="_sandbox/messi-retina.jpeg" class="postpone-load photo-feature__image">
  </a>
  <div class="photo-feature__body">
    <div class="label">
      <a href="#" class="label__tag">Photo Gallery</a>
    </div>
    <h4 class="photo-feature__headline">
      <a href="#" class="photo-feature__link">Barcelona 1 - Getafe 0</a>
      <span class="photo-feature__category">La Liga</span>
    </h4>
    <a href="#" class="action-link">View photos</a>
  </div>
</div>
