<div class="nav-primary-desktop-wrap callfn" data-fn="adaptive-html">

    <script type="html/template">
    <div class="grid nav-primary-desktop">
        <div class="grid__col nav-primary-desktop__col1">
        	<ul class="nav-primary-desktop__group">
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Home</a></li>
        		<li class="nav-primary-desktop__item">
        			<a href="#" class="nav-primary-desktop__link nav-primary__dropdown-link">Sports</a>
        			<div class="nav-primary-desktop__menu">
        				<div class="nav-primary-desktop__menu-body">

        				</div>
        			</div>
        		</li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Watch</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Listen</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Score centre</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Sky Bet</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link nav-primary__dropdown-link">More</a>
        			<div class="nav-primary-desktop__menu nav-primary-desktop__menu-right">
        				<div class="nav-primary-desktop__menu-body">

        				</div>
        			</div>
        		</li>
        	</ul>
        </div>
        <div class="grid__col nav-primary-desktop__col2">

        </div>
    </div>
    </script>

  </div>
