<div class="nav-primary-desktop-wrap callfn" data-fn="adaptive-html">

    <script type="html/template">
    <div class="grid nav-primary-desktop">
        <div class="grid__col nav-primary-desktop__col1">
        	<ul class="nav-primary-desktop__group">
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Home</a></li>
        		<li class="nav-primary-desktop__item">
        			<a href="#" class="nav-primary-desktop__link nav-primary__dropdown-link">Sports</a>
        			<div class="nav-primary-desktop__menu">
        				<div class="nav-primary-desktop__menu-body">
                            <ul class="nav-primary-desktop__menu-links">
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/football" >Football</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="http://www1.skysports.com/f1/" >F1</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/cricket" >Cricket</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/rugby-union" >Rugby Union</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/rugby-league" >Rugby League</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/golf" >Golf</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/boxing" >Boxing</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/tennis" >Tennis</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/cycling" >Cycling</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/racing" >Racing</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/darts" >Darts</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/nfl" >NFL</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="http://www.skysports.com/motorsport" >Motorsports</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/netball" >Netball</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/snooker" >Snooker</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/icehockey" >Ice Hockey</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/olympics" >Olympics</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/speedway" >Speedway</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/ufc" >UFC</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/wwe" >WWE</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/basketball" >Basketball</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="http://www.skysports.com/inbrief/" >In Brief</a></li>
                                <li class="nav-primary-desktop__menu-item"><a class="nav-primary-desktop__menu-link" href="/winter-olympics" >Winter Olympics</a></li>
                            </ul>
        				</div>
        			</div>
        		</li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Watch</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Listen</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Score centre</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link">Sky Bet</a></li>
        		<li class="nav-primary-desktop__item"><a href="#" class="nav-primary-desktop__link nav-primary__dropdown-link">More</a>
        			<div class="nav-primary-desktop__menu nav-primary-desktop__menu-right">
        				<div class="nav-primary-desktop__menu-body">
                            
        				</div>
        			</div>
        		</li>
        	</ul>
        </div>
        <div class="grid__col nav-primary-desktop__col2">
          <div class="nav-primary-search">
            <input class="nav-primary-search-input nav-primary-search-input--invert" type="text" autocapitalize="off" autocorrect="off" autocomplete="off" placeholder="Search Sky Sports...">
          </div>
        </div>
    </div>
    </script>

  </div>
