<div class="nav-primary-search box-gap">
    <input class="nav-primary-search-input" type="text" autocapitalize="off" autocorrect="off" autocomplete="off" placeholder="Search Sky Sports...">
</div>
<div class="accordian callfn" data-fn="accordian" data-blah="blue">

<div class="accordian__item">
  <a href="#home" class="accordian__item-head nav-primary-mobile__link">Home</a>
</div>
<div class="accordian__item">
  <a href="#football" class="accordian__item-head nav-primary-mobile__link">Football</a>
</div>
<div class="accordian__item">
  <a href="#" class="accordian__item-head nav-primary-mobile__link">Cricket</a>
</div>
<div class="accordian__item">
  <div class="accordian__item-head nav-primary-mobile__link nav-primary-mobile__link-more">More Sports</div>
  <div class="accordian__item-content-frame">
    <ul class="accordian__item-content nav-primary-mobile__sub-links">
      <li><a class="nav-primary-mobile__sub-link" href="/rugby-union" >Rugby Union</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/rugby-league" >Rugby League</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/golf" >Golf</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/boxing" >Boxing</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/tennis" >Tennis</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/cycling" >Cycling</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/racing" >Racing</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/darts" >Darts</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/nfl" >NFL</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="http://www.skysports.com/motorsport" >Motorsports</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/netball" >Netball</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/snooker" >Snooker</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/icehockey" >Ice Hockey</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/olympics" >Olympics</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/speedway" >Speedway</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/ufc" >UFC</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/wwe" >WWE</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/basketball" >Basketball</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="http://www.skysports.com/inbrief/" >In Brief</a></li>
      <li><a class="nav-primary-mobile__sub-link" href="/winter-olympics" >Winter Olympics</a></li>
    </ul>

  </div>
</div>
<div class="accordian__item">
  <a href="#" class="accordian__item-head nav-primary-mobile__link">Watch</a>
</div>
<div class="accordian__item">
  <a href="#" class="accordian__item-head nav-primary-mobile__link">Listen</a>
</div>
<div class="accordian__item">
  <a href="#" class="accordian__item-head nav-primary-mobile__link">Score Centre</a>
</div>
<div class="accordian__item">
  <a href="#" class="accordian__item-head nav-primary-mobile__link">Sky Bet</a>
</div>
<div class="accordian__item">
  <div class="accordian__item-head nav-primary-mobile__link nav-primary-mobile__link-more">More</div>
  <div class="accordian__item-content-frame">
    <ul class="accordian__item-content nav-primary-mobile__sub-links">
        <li><a class="nav-primary-mobile__sub-link" href="#">Transfer Centre</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Events Centre</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Super 6</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Fantasy Football</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Fun</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Competitions</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Football On Sky</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky Sports on Sky</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky Go</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Pub Finder</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky Mobile</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky Sportzine</a></li>
    </ul>
  </div>
</div>
<div class="accordian__item">
  <div class="accordian__item-head nav-primary-mobile__link nav-primary-mobile__link-more">Around Sky</div>
  <div class="accordian__item-content-frame">
    <ul class="accordian__item-content nav-primary-mobile__sub-links">
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky.com</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky News</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Sky Movies</a></li>
        <li><a class="nav-primary-mobile__sub-link" href="#">Get Sky</a></li>
    </ul>
  </div>
</div>
</div>
