
<div class="site-header">
  <div class="grid site-header__body">
  	<div class="grid__col site-header__col1" data-role="open-left-hand-nav">
  		<div class="site-header__hamburger"></div>
  	</div>
  	<div class="grid__col site-header__col2">
  		<img class="site-header__logo" src="http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.svg" onerror="this.src='http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.png'">
  	</div>

  	<div class="grid__col site-header__col3">

  	</div>

  </div>
  <?php include "components/primary-nav-desktop.html" ?>

</div>

