<div class="site-footer">
  <div class="site-footer__body">
    <div class="logo">
      <img class="logo__image site-footer__logo" src="http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.svg" onerror="this.src='http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.png'">
    </div>
    <ul class="list list--bar site-footer__links">
      <li class="list__item site-footer__copyright">© 2014 BSkyB</li>
      <li class="list__item"><a class="site-footer__link" href="http://accessibility.sky.com/">Accessibility</a></li>
      <li class="list__item"><a class="site-footer__link" href="http://www.sky.com/portal/site/skycom/privacy">Privacy and Cookies</a></li>
      <li class="list__item"><a class="site-footer__link" href="http://help.sky.com/my-account/terms-and-conditions/skycom-terms-and-conditions/">Terms &amp; Conditions</a></li>
      <li class="list__item"><a class="site-footer__link" href="http://www.skysports.com/contactus/0,20299,,00.html">Contact Us</a></li>
    </ul>

  </div>
</div>
