
<div class="site-header">
  <div class="site-header__body">
  	<div class="site-header__col site-header__col1" data-role="open-left-hand-nav">
  		<div class="site-header__hamburger"></div>
  	</div>
  	<div class="site-header__col site-header__col2">
  		<div class="logo site-header__logo">
        <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.svg" onerror="this.src='http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.png'">
      </div>
  	</div>

  	<div class="site-header__col site-header__col3">

      <div class="site-header__links">

        <a href="#" class="site-header__link">Get Sky Sports</a>
        <a href="#" class="site-header__link site-header__sign-in-link">Sign In</a>

      </div>

      <div class="nav-primary-search is-hidden--bp20 is-hidden--bp30">
          <input class="nav-primary-search__input nav-primary-search__input--invert" type="text" autocapitalize="off" autocorrect="off" autocomplete="off" placeholder="Search Sky Sports">
          <button type="submit" class="nav-primary-search__button"><span class="nav-primary-search__button-text">submit</span></button>
      </div>

  	</div>

  </div>
  <?php include "components/primary-nav-desktop.html" ?>

</div>

