<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Sky Sports">
  <meta name="application-name" content="Sky Sports">
  <meta name="viewport" id="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  <link rel="stylesheet" href="/css/core.css" type="text/css">
  <script src="/js/head.js"></script>
  <script>
  function nosvg(image){
    image.src = image.src.replace('.svg', '.png');
  }
  </script>
</head>

<body>
<div class="wrap">

    <div class="logo u-span18">
      <img src="http://www1.skysports.com/core/img/channels/Sky-Sports-Logo.svg" onerror="this.src=this.src.replace('.svg', '.png')">
    </div>
    <br>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-1-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo logo--red-button u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-2-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-3-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-4-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-News-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-F1-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-1-HD-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-2-HD-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-3-HD-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-4-HD-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-News-HD-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-F1-HD-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-News-Radio.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-Xtra-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/internal-logos/Sky-Bet-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/internal-logos/sky1logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-3D-Logo.png" onerror="nosvg(this)">
    </div>
    <br>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-1-Mobile-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-2-Mobile-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-3-Mobile-Logo.svg" onerror="nosvg(this)">
    </div>
    <br>
    <div class="logo u-span18">
      <img class="logo__image" src="http://www1.skysports.com/core/img/channels/Sky-Sports-4-Mobile-Logo.svg" onerror="nosvg(this)">
    </div>








</div>
</body>
  <script src="/js/site.js"></script>
</html>
