<div class="mini-table-block box-gap">

  <table class="mini-table mini-table--football-league">
    <col class="mini-table--football-league__col1">
    <col class="mini-table--football-league__col2">
    <col class="mini-table--football-league__col3">
    <col class="mini-table--football-league__col4">
    <thead>
      <th>P</th>
      <th>Team</th>
      <th>Pl</th>
      <th>Pts</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Man Utd</td>
        <td>20</td>
        <td>41</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Man Utd</td>
        <td>20</td>
        <td>41</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Man Utd</td>
        <td>20</td>
        <td>41</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Man Utd</td>
        <td>20</td>
        <td>41</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Man Utd</td>
        <td>20</td>
        <td>41</td>
      </tr>

    </tbody>
  </table>

  <ul class="list list--bar">
    <li class="list__item"><a href="#" class="action-link">Live</a></li>
    <li class="list__item"><a href="#" class="action-link">Fixtures</a></li>
    <li class="list__item"><a href="#" class="action-link">Results</a></li>
  </ul>

</div>
