<div class="mini-table-block block">

  <table class="mini-table mini-table--football-league">
    <col class="mini-table--football-league__col1">
    <col class="mini-table--football-league__col2">
    <col class="mini-table--football-league__col3">
    <col class="mini-table--football-league__col4">
    <thead>
      <th class="mini-table__cell">P</th>
      <th class="mini-table__cell mini-table__participant">Team</th>
      <th class="mini-table__cell">Pl</th>
      <th class="mini-table__cell">Pts</th>
    </thead>
    <tbody>
      <tr class="mini-table__row">
        <td class="mini-table__cell">1</td>
        <td class="mini-table__cell mini-table__participant" data-shim-text="Man City">
          <a href="#" class="mini-table__row-link">
            Man City
          </a>
        </td>
        <td class="mini-table__cell">0</td>
        <td class="mini-table__cell">4</td>
      </tr>
      <tr class="mini-table__row mini-table__xhighlight">
        <td class="mini-table__cell">2</td>
        <td class="mini-table__cell mini-table__participant" data-shim-text="Arsenal">
          <a href="#" class="mini-table__row-link">
            Arsenal
          </a>
        </td>
        <td class="mini-table__cell">20</td>
        <td class="mini-table__cell">41</td>
      </tr>
      <tr class="mini-table__row">
        <td class="mini-table__cell">3</td>
        <td class="mini-table__cell mini-table__participant" data-shim-text="Chelsea">
          <a href="#" class="mini-table__row-link">
            Chelsea
          </a>
        </td>
        <td class="mini-table__cell">20</td>
        <td class="mini-table__cell">41</td>
      </tr>
      <tr class="mini-table__row">
        <td class="mini-table__cell">4</td>
        <td class="mini-table__cell mini-table__participant" data-shim-text="Liverpool">
          <a href="#" class="mini-table__row-link">
          Liverpool
          </a>
        </td>
        <td class="mini-table__cell">20</td>
        <td class="mini-table__cell">41</td>
      </tr>
      <tr class="mini-table__row">
        <td class="mini-table__cell">5</td>
        <td class="mini-table__cell mini-table__participant" data-shim-text="Tottenham">
          <a href="#" class="mini-table__row-link">
            Tottenham
          </a>
        </td>
        <td class="mini-table__cell">20</td>
        <td class="mini-table__cell">41</td>
      </tr>

    </tbody>
  </table>

  <ul class="list list--bar">
    <li class="list__item"><a href="#" class="action-link">All tables</a></li>
  </ul>
</div>
