<div class="tabs-block callfn" data-fn="tabs">

  <ul class="tabs-block__tabs">
    <li class="tabs-block__tab-item">
      <a href="#tab1" class="tabs-block__tab-link" data-role="tab-item">Tab 1</a>
    </li>
    <li class="tabs-block__tab-item">
      <a href="#tab2" class="tabs-block__tab-link" data-role="tab-item">Tab 2</a>
    </li>
    <li class="tabs-block__tab-item">
      <a href="#tab3" class="tabs-block__tab-link" data-role="tab-item">Tab 3</a>
    </li>
  </ul>

  <div class="tab-block__content" data-role="tab-box" id="tab1">
    1
  </div>

  <div class="tab-block__content" data-role="tab-box" id="tab2">
    2
  </div>

  <div class="tab-block__content" data-role="tab-box" id="tab3">
    3
  </div>

</div>
