<div class="block top-story">

  <a href="#" class="top-story__figure">
    <img src="/_sandbox/TopStory.jpg" class="top-story__image">
  </a>

  <div class="top-story__body">
   <!--  <div class="label">
      <a href="#" class="label__tag">Man Utd</a>
    </div> -->
    <h2 class="top-story__headline">
      <a href="#" class="top-story__headline-link">Carrick: United players care</a>
    </h2>
    <p class="top-story__snippet">Michael Carrick claims Manchester United's players care about their current plight - but are still full of belief.</p>

    <ul class="list list--block">
      <li class="list__item"><a href="#" class="action-link">Man Utd 2 Fulham 2</a>
      <li class="list__item"><a href="#" class="action-link">Rooney focussed on future</a>
      <li class="list__item"><a href="#" class="action-link">Carrick Player Profile</a>
      <li class="list__item"><a href="#" class="action-link">Win a free Owl</a>
    </ul>
  </div>
</div>
