<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Sky Sports">
  <meta name="application-name" content="Sky Sports">
  <meta name="viewport" id="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title></title>
  <link rel="stylesheet" href="/css/core.css" type="text/css">
  <script src="/js/head.js"></script>
</head>

<body>
<div class="wrap">
   <div class="grid site-layout-secondary">

        <div class="grid__col site-layout-secondary__col1">
          <div class="top-story">
            <div class="top-story__figure">
              <img src="http://e1.365dm.com/14/01/16-9/30/stuartbroad1_3073623.jpg?20140128071529" class="top-story__image">
            </div>

            <div class="top-story__body">
                <div class="label">
                  <a href="#" class="label__tag">Ashes 2013</a>
                  <div class="label__timestamp">23/4/2014 15:34AM</div>
                </div>
                <h2 class="top-story__headline">
                  <a href="#" class="top-story__headline-link">Edwards buoyed by T20 switch</a>
                </h2>
                <p class="top-story__snippet">Twenty20 captain Stuart Broad is determined to finish England's tour Down Under on a high after three months of misery.</p>

                <ul class="list list--related">
                  <li class="list__item"><a href="#" class="list__link">Live cricket on Sky</a>
                  <li class="list__item"><a href="#" class="list__link">Follow with Events Centre</a>
                  <li class="list__item"><a href="#" class="list__link">Sky Sports day pass</a>
                  <li class="list__item"><a href="#" class="list__link">Win a free Owl</a>
                </ul>
              </div>
            </div>

        </div>

        <div class="grid__col site-layout-secondary__col2">
          2
        </div>

        <div class="grid__col site-layout-secondary__col3">
          3
        </div>

      </div>

</div>
</body>
  <script src="/js/site.js"></script>
</html>
