<div class="top-story box-gap">
  <a href="#" class="top-story__figure">
    <img src="http://e2.365dm.com/14/01/16-9/20/Eden-Hazard-2-_3065185.jpg?20140129090601" class="top-story__image">
  </a>

  <div class="top-story__body">
    <div class="label">
      <a href="#" class="label__tag">Premier League</a>
      <!-- <div class="label__timestamp">23/4/2014 15:34AM</div> -->
    </div>
    <h2 class="top-story__headline">
      <a href="#" class="top-story__headline-link">Hazard: We can win title</a>
    </h2>
    <p class="top-story__snippet">Eden Hazard is confident Chelsea have the qualities to win the Premier League following the 1-0 win at Manchester City.</p>

    <ul class="list list--block">
      <li class="list__item"><a href="#" class="action-link">Man City 0 - Chelsea 1</a>
      <li class="list__item"><a href="#" class="action-link">Transfer betting</a>
      <li class="list__item"><a href="#" class="action-link">Sky Sports day pass</a>
      <li class="list__item"><a href="#" class="action-link">Win a free Owl</a>
    </ul>
  </div>
</div>
