<div class="video-block box-gap">

<div class="grid video-block__row">
  <div class="grid__col video-block__item">
1

  </div>

  <div class="grid__col video-block__item">
2

  </div>

  <div class="grid__col video-block__item">
3
  </div>

  <div class="grid__col video-block__item">
4
  </div>
</div>

<div class="grid video-block__row">
  <div class="grid__col video-block__item">
5

  </div>

  <div class="grid__col video-block__item">
6

  </div>

  <div class="grid__col video-block__item">
3
  </div>

  <div class="grid__col video-block__item">
4
  </div>
</div>

</div>
