<div class="video-block block">
<?php if ($feature_block_type == 'feature') : ?>
<div class="grid video-block__row">

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/managers.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">
        <span href="#" class="label__tag">Premier League</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Pullis and Big Sam bemoan fortunes</a></h4>


    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/Fernandinho.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">
        <span href="#" class="label__tag">Man City</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Fernandinho looking the part at City</a></h4>

    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/wembley.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">

        <span href="#" class="label__tag">Champions League</span>

      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Where's Wembley's atmosphere gone?</a></h4>

    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/spotlight.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">
        <span href="#" class="label__tag">Football league</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Spotlight on Britt Assombalonga </a></h4>

    </div>

  </div>
</div>
<?php else : ?>
<div class="grid video-block__row">

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/13/11/16-9/30/PAPER-REVIEW_3041597.jpg?20131125113813" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Today's paper review</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/14/01/16-9/30/165012893_3123655272001_video-still-for-video-3123729243001.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Copa Italia QF - Napoli v Lazio</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/13/04/16-9/30/SSNimage_2923165.jpg?20130410182930" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Latest Sky Sports News Report</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e2.365dm.com/14/01/16-9/30/Derby-celebrate-v-Yeovil-Craig-Bryson-pa_3074251.jpg?20140129224747" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Championship Round up - 28th January</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>
</div>

<?php endif; ?>

</div>
