<div class="video-block block">
<?php if ($feature_block_type == 'feature') : ?>
<div class="grid video-block__row">

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/managers.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">
        <span href="#" class="label__tag">Premier League</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Pullis and Big Sam bemoan fortunes</a></h4>


    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/Fernandinho.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">
        <span href="#" class="label__tag">Man City</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Fernandinho looking the part at City</a></h4>

    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/wembley.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">

        <span href="#" class="label__tag">Champions League</span>

      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Where's Wembley's atmosphere gone?</a></h4>

    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure">
      <img src="<?php echo $blank_image ?>" data-image-src="/_sandbox/spotlight.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body -feature">
      <div class="label">
        <span href="#" class="label__tag">Football league</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Spotlight on Britt Assombalonga </a></h4>

    </div>

  </div>
</div>
<?php else : ?>
<div class="grid video-block__row">

  <div class="grid__col video-block__item">
    <div class="video-block__figure video-block__play-overlay">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e2.365dm.com/14/03/16-9/30/165012893_3298458096001_video-still-for-video-3298681042001.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Rooney: We wanted to show Roy</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure video-block__play-overlay">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e0.365dm.com/14/03/168x88/Bale_3095287.jpg?20140305200524" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Bale's wonder goal against Serbia</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure video-block__play-overlay">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e2.365dm.com/14/02/16-9/30/165012893_3250363222001_video-still-for-video-3249130274001.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Latest Sky Sports News Report</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>

  <div class="grid__col video-block__item">
    <div class="video-block__figure video-block__play-overlay">
      <img src="<?php echo $blank_image ?>" data-image-src="http://e1.365dm.com/14/02/16-9/30/fl72review_240214_lrg.jpg" class="postpone-load video-block__image">
    </div>
    <div class="video-block__body">
      <div class="label">
        <span href="#" class="label__timestamp">29/01/14 12:52pm</span>
      </div>
      <h4 class="video-block__headline"><a href="#" class="video-block__link">Championship Round up - 28th January</a></h4>
      <a class="action-link" href="#">Sign in to watch</a>
    </div>

  </div>
</div>

<?php endif; ?>

</div>
