// Matches block
// Responsive fixtures and results component
// ============================================================================

.matches__group {
  padding: 0;
  list-style: none;
  margin-top: -3px;
  margin-bottom: @component-gap-s
}

.matches__item {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid @keyline
}

.matches__item-col {
  display: table-cell;
  height: @data-promo-row-height;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden
}

.matches__label,
.matches__info {
  width: 38px;
  .secondary-headline(@text-s)
}

.matches__info {
  text-align: right
}

.matches__status {
  width: 60px
}

.matches__participant {
  .primary-headline(@text-s)
}

.matches__participant--side1 {
  text-align: right;
}

// fixtures that are a team a vs team b score

.matches__teamscores {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: seperate;
  border-spacing: 1px;
  padding: 0 4px;
  text-indent: -100%
}

.matches__date {
  display: block;
  text-align: center;
  .secondary-headline(@text-s)
}

.matches__teamscores-side {
  display: table-cell;
  background: @sky-sports-red;
  vertical-align: middle;
  text-align: center;
  .primary-headline(@text-s);
  color: white;
  width: 50%;
  border-radius:@border-radius-s;
  text-indent: 0
}

.matches-block > .list {
  margin-bottom: -6px
}

// featured event

.matches__promo {
  position: relative;
  background: @off-white;
  padding: 18px 18px 24px 32px;
  line-height: 1;
  margin-bottom: @component-gap-s;
  border-radius: @border-radius-s
}

.matches__promo-timestamp {
  .secondary-headline(@text-ml);
  margin-bottom: 10px;
}

.matches__promo-event {
  .primary-headline(@text-xl);
  margin-bottom: 14px;
  white-space: nowrap
}

.matches__promo-break {
  .secondary-headline(@text-l);
}

.matches__promo-info {
  .secondary-headline(@text-m);
  margin-bottom: 18px;
}

.matches__promo-logo {
  width: 95px;
  margin-left: 5px;
  position: relative;
  top: 1px
}

.matches__promo > .list {
  margin:0 0 0 -2px
}

@media all and (@bp20-max){

  .matches__promo {
    background: @light-bg;
    padding-left: 24px
  }

}


@media all and (@bp30-max) {
  .matches-block__match-list {
    padding: @island-padding-nobg-s;
  }

  .matches__promo {
    margin-bottom: 9px
  }
}


