/**
 * Primary site layout
 * left column for mobile devices icontains main navigation and is hidden by default
 * full width for non mobile device - left column never shows
 * ============================================================================
*/

.site-layout-primary {
  min-height: 100%;
  min-height:100vh;
  outline: 2px solid orange
}

/**
 * For BP10 the left hand nav is hidden and never shown
 */

@media all and (min-width:801px){

  .site-layout-primary__col1 {
    display:none;
  }

}

/**
 * For BP20 and 30, the left hand nav is hidden off canvas and slides in
 */

@media all and (max-width:800px){

  .site-layout-primary__col1  {
      
      .fix-flicker();

     .transform(translateX(-100%));
     .transition-transform-m();
     .style-panel1();
     .u-z-middle;

     width:@primary-nav-mobile-width;

     position: absolute;
     height:100%;
     left:0;

  }

  .site-layout-primary__col1--open {
    .transform(translateX(0));
  }

}
