

// link with a call to action chevron

.action-link {
	display: inline-block;
	padding: 2px 4px 2px 1px;
	.secondary-headline(@text-m);
}

.action-link:before {
	content: "\e052";
	font-family: icons;
	font-size: 0.75em;
	display: inline-block;
	left: 1px;
	color: @text-light;
	margin-right: 5px;
	position: relative

}


@media all and (@bp30-max){

	.action-link {
		padding-left:0
	}

	.action-link:before {
		font-size:0.62em;
		margin-right:3px;
		top: -1px;
	}


}
