.nav-primary-mobile {
  
}

.nav-primary-mobile__link {
  display: block;
  padding: 7px 18px;
  .secondary-headline(@text-ml);
  border-bottom: 1px solid @keyline;
  cursor: pointer;
  position: relative;
  .user-select(none)
}

.nav-primary-mobile__link:active {
  background: @keyline
}

.nav-primary-mobile__link-more:after {
  content:"\e079";
  font-family: icons;
  margin-left: 5px;
  font-size: 13px;
  position: absolute;
  right: 14px;
  top: 10px;
}

.nav-primary-mobile__sub-links {
  background: @keyline;
  list-style: none;
}

.nav-primary-mobile__sub-item {
   
}

.nav-primary-mobile__sub-link {
  display: block;
  .secondary-headline(@text-m);
  padding: 4px 18px;
}

.nav-primary-mobile__sub-link:active {
  background: @dark-bg
}



@media all and (@bp20-max){

  .nav-primary-search {
    padding-top: 14px
  }

  .nav-primary-search-input,
  .nav-primary-search-input::-webkit-input-placeholder {
      color: rgba(0,0,0,0.8);
}
}

