// secondary level navs - usualy primary page/section nav

@media all and (@bp10-min){

  .nav-secondary-all {
    width: 100%;
    align: middle;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0;
    border-bottom: 1px solid @keyline;
    margin-bottom: @box-gap-s;
  }

  .nav-secondary-all__head {
    display: inline-block;
    display: none
  }

  .nav-secondary-all__title-link {
    padding: 7px 12px 5px @bp30-site-margin;
    text-transform: uppercase;
  }

  .nav-secondary-all__frame {
    display: inline-block;
  }

  .nav-secondary-all__body {
    width: 100%;
    list-style: none;
    white-space: nowrap;
  }

  .nav-secondary-all__item,
  .nav-secondary-all__link {
    display: inline-block;
  }

  .nav-secondary-all__title,
  .nav-secondary-all__title-link {
    .primary-headline(@text-ml)
  }

  .nav-secondary-all__link {
    padding: 9px 10px 10px 10px;
    .secondary-headline(@text-m)

  }

  .nav-secondary-all__link:hover {
    background: @dark-bg
  }

  .nav-secondary-all__section {
    display: none
  }

  .nav-secondary-all__offset {
    .transform(translateY(0))!important
  }

}

@media all and (@bp20-max){

  .nav-secondary-all {
    display: block;
    .fix-flicker();
  	position: relative;
    margin-bottom: @box-gap-s

  }

  .nav-secondary-all__head {
    background-color: @blue-light;
    cursor: pointer;
    padding-left: @bp30-site-margin;
    .user-select(none);
  }

  .nav-secondary-all__head:active {
    background: @blue-mid;
  }

  .nav-secondary-all__title,
  .nav-secondary-all__section {
    display: inline-block;
  }

  .nav-secondary-all__title-link {
    display: inline-block;
    padding: 12px 12px 15px 0;
    color: @off-white;
    pointer-events: none
  }


  .nav-secondary-all__title-link:before {
    content: "\e079";
    font-family: icons;
    font-size: 15px;
    margin: 0 9px 0 6px;
  }

  .nav-secondary-all__head-on .nav-secondary-all__title-link:before {
    content: "\e07a";
  }

  .nav-secondary-all__title,
  .nav-secondary-all__title-link {
    .primary-headline(@text-l);
    color: @off-white;
  }

  //display sub section of clicked nav

  .nav-secondary-all__section {
    .secondary-headline(@text-l);
    color: @off-white;
  }


  .nav-secondary-all__frame {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: block;
  }

  .nav-secondary-all__body {
    width: 100%;
    background: @light-bg;

    .transform(translateY(-100%));
    -webkit-transition: -webkit-transform 0.33s ease-in-out;
    -moz-transition: -moz-transform 0.33s ease-in-out;
    transition: transform 0.33s ease-in-out;

    list-style:none;
    padding: 6px @bp30-site-margin;

    //set the links in 2 columns
    .columns(2);
  }

  //nav body when opened

  .nav-secondary-all__body--open {
    .transform(translateY(0));
  }

  .nav-secondary-all__link {
    .secondary-headline(@text-ml);
    padding: 4px 4px;
    display: block;
  }

  // offset elements - animate the container div immedietly after the nav element downards by the same amount as the height of the open nav
  .nav-secondary-all__offset {

    .fix-flicker();

    -webkit-transition: -webkit-transform 0.33s ease-in-out;
    -moz-transition: -moz-transform 0.33s ease-in-out;
    transition: transform 0.33s ease-in-out;
  }

}

@media all and (@bp30-max){

  .nav-secondary-all__title-link:before {
    font-size: 12px;
    margin: 0 7px 0 3px;
  }

  .nav-secondary-all__title-link {
    padding: 8px 12px 9px 0;
  }

  .nav-secondary-all__title,
  .nav-secondary-all__title-link,
  .nav-secondary-all__section {
    font-size: unit(@text-ml, px);
  }

  .nav-secondary-all {
    margin-bottom: 0
  }
}

