.nav-primary-mobile {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #222;
  color: #aaa;
}

.nav-primary-mobile__trigger {
  position: absolute;
  right: -42px;
  top: 0;
  height: 42px;
  width: 42px;
  background: pink;
  .fix-flicker();
}

@media all and (@bp20-max){

  .nav-primary-search {
    padding-top: 14px
  }

  .nav-primary-search-input,
  .nav-primary-search-input::-webkit-input-placeholder {
      color: rgba(0,0,0,0.8);
}
}

