.nav-primary-desktop-wrap {
	height:50px;
	background:@blue-light
}

.nav-primary-desktop {
	max-width: @site-max-width;
	margin: 0 auto;
}

.nav-primary-desktop > .grid__col {
	.flex-box();
	vertical-align:middle;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.nav-primary-desktop__col2 {
	width: 336px;
	.no-flex();
}

.nav-primary-desktop__group {
	padding: 0;
	list-style: none;
	white-space: nowrap
}

.nav-primary-desktop__item {
	display: inline-block;
	position: relative
}

.nav-primary-desktop__link {
	display: inline-block;
	text-transform: uppercase;
	padding: 13px;
	.primary-headline(@text-m);
	color: @off-white;
}

// add dropdown icon
.nav-primary__dropdown-link:after {
	content:"\e079";
	font-family: icons;
	margin-left: 5px;
	font-size: 10px;
	position: relative;
	top: -1px
}

// dropdown menu
.nav-primary-desktop__menu {
	min-width: 500px;
	height: 300px;
	.u-z-top;
	position: absolute;
	top: 100%;
	visibility: hidden;
	overflow: hidden;
}

.nav-primary-desktop__menu-right {
	right: 0
}

.nav-primary-desktop__menu-body {
	background: @blue-mid;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.166s ease-in-out
}

// add hover actions to open menu
.nav-primary-desktop__item:hover {
	background: @blue-mid;
}

.nav-primary-desktop__item:hover > .nav-primary-desktop__menu {
	visibility: visible;
}

.nav-primary-desktop__item:hover > .nav-primary-desktop__menu > .nav-primary-desktop__menu-body {
	opacity: 1
}

// search box - @TODO - placeholder code only

.nav-primary-search {
	padding: @island-padding-s;
	padding-bottom: 0;
	padding-top: 0;
	width: 100%;
}

.nav-primary-search-input {
	display: block;
	width: 100%;
	padding: 8px 12px;
	.secondary-headline(@text-m);
	border: 0;
	background: rgba(0,0,0,0.15);
	border-radius: @border-radius-s;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1)
}


// desktop nav search box

@media all and (@bp10-min){
	.nav-primary-search-input,
	.nav-primary-search-input::-webkit-input-placeholder {
		color: rgba(255,255,255,0.8);
	}

}

@media all and (@bp20-max){
  .nav-primary-desktop-wrap {
    display: none;
  }

  .nav-primary-search-input {
  	padding: 10px 12px;
  }
}


