.news-list-secondary__subhead {
  .primary-headline(@text-m);
  color: @sky-sports-red;
  text-transform: uppercase;
  margin-bottom: @component-gap-s;
}

.news-list-secondary__group {
  margin-top: -6px;
  margin-bottom: @component-gap-m;
}

.news-list-secondary__group:nth-child(1) {
  background: pink
}

.news-list-secondary__link {
  display: block;
  .primary-headline(@text-m);
  padding: 4px 2px;
  line-height: 1.25
}


