/**
 * MEDIABOX
 * A set of components for displaying an image, headline and snippet
 * ============================================================================
 */

.mediabox {
	display:table;
	width: 100%;
}

.mediabox__figure {
	min-width:12px;
	direction:ltr;
	display: table-cell;
	vertical-align: top;

}

.mediabox__body {
	display: table-cell;
	vertical-align: top;
	direction:ltr;
	//stops the width on IE10 pushing out the parent width
	width:0;
	border-color: transparent;
	border-left-style:solid;
	position: relative;
}

.mediabox__image {
	border-color: transparent
}

/* gap between image and body text */

.mediabox--gap-s > .mediabox__body,
.mediabox--gap-s > .mediabox__body > .mediabox__image {
	border-width: @box-unit-s;
}

.mediabox--gap-m > .mediabox__body,
.mediabox--gap-m > .mediabox__body > .mediabox__image {
	border-width: @box-unit-m;
	border-bottom-width: @box-unit-m - 7px;
	border-top-width: @box-unit-m - 8px;
}

.mediabox--gap-l > .mediabox__body,
.mediabox--gap-l > .mediabox__body > .mediabox__image {
	border-width: @box-unit-l;
	border-bottom-width: @box-unit-l - 9px;
	border-top-width: @box-unit-l - 9px;
}


/* Vertical media box */

.mediabox--vertical {
	display:block
}

.mediabox--vertical > .mediabox__figure {
	width:100%;
	display: block;
}

.mediabox--vertical > .mediabox__body {
	display: block;
	border-style: none;
	border-top-style: solid;
	width:100%;
}

/* remove margin bottom on headlines inside a horizontal mediabox */
.mediabox:not(.mediabox--vertical) .mediabox__headline {
	margin-bottom:0.08em
}


/**
 * Reverse direction mediabox
 * Horizontal - moves image over to the right
 */

.mediabox--reverse {
	direction:rtl
}

.mediabox--reverse > .mediabox__body {
	border-style: none;
	border-right-style: solid;
}


/* @BP20 */

@media all and (max-width:800px){

	.mediabox--gap-s > .mediabox__body,
	.mediabox--gap-s > .mediabox__body > .mediabox__image {
		border-width: @box-unit-s-bp20;
	}

	.mediabox--gap-m > .mediabox__body,
	.mediabox--gap-m > .mediabox__body > .mediabox__image {
		border-width: @box-unit-m-bp20;
	}

	.mediabox--gap-l > .mediabox__body,
	.mediabox--gap-l > .mediabox__body > .mediabox__image {
		border-width: @box-unit-l-bp20;
	}

	.mediabox--vertical > .mediabox__body {
		margin-top:0.1em;
	}

	.mediabox--vertical-bp20 {
		display:block;
	}

	.mediabox--vertical-bp20 > .mediabox__figure {
		width:100%;
		display: block;
	}

	.mediabox--vertical-bp20 > .mediabox__body {
		display: block;
		border-style: none;
		border-top-style: solid;
		width:100%;
		margin-top:0.1em
	}

}

/* @BP30 */

@media all and (max-width:600px){

	.mediabox--gap-s > .mediabox__body,
	.mediabox--gap-s > .mediabox__body > .mediabox__image {
		border-width: @box-unit-s-bp30;
	}

	.mediabox--gap-m > .mediabox__body,
	.mediabox--gap-m > .mediabox__body > .mediabox__image {
		border-width: @box-unit-m-bp30;
	}

	.mediabox--gap-l > .mediabox__body,
	.mediabox--gap-l > .mediabox__body > .mediabox__image {
		border-width: @box-unit-l-bp30;
	}

	.mediabox--vertical-bp30 > .mediabox__body {
		margin-top:0.1em;
	}

	.mediabox--vertical-bp30 {
		display:block
	}

	.mediabox--vertical-bp30 > .mediabox__figure {
		width:100%;
		display: block;
	}

	.mediabox--vertical-bp30 > .mediabox__body {
		display: block;
		border-style: none;
		border-top-style: solid;
		width:100%;
	}

}
