/**
 * LAYOUT
 * Create fluid and fixed width layouts
 * Uses flex box with display table fall back for IE8 and 9
 * ============================================================================
*/


/* main grid class */

.grid {
	width:100%;
	position:relative;
	display:table;
	table-layout:fixed;

	.flex-box();
}

.grid__col {

	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing: content-box;

	-webkit-align-items:center;
	-webkit-box-align:center;

	position:relative;
	vertical-align:top;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	/* for IE8-9 - no flexbox */
	display: ~"table-cell\0/"
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {

	/* cancel out for ie10 - has flexbox*/
	.grid__col {
		display: block
	}
}

/* margins between columns */

.grid--gap-s > .grid__col {
	padding-left:@box-unit-s;
}

.grid--gap-m > .grid__col {
	padding-left:@box-unit-m;
}

.grid--gap-l > .grid__col {
	padding-left:@box-unit-l;
}

//cancel left padding
.grid[class*="--gap"] > .grid__col:first-child {
	padding-left:0;
}

/**
 * Swap column order
 * - as part of this grid framework, only 2 column layouts can be swapped to keep compaibilty with IE < 10
 * - Swaps col so 1:2 becomes 2:1
*/

.grid--swap-order {
	direction:rtl
}

.grid--swap-order > .grid__col {
	direction: ltr
}


/* vertical align middle column content */

.grid--align-middle > .grid__col {

	.flex-box();

	//vertically align middle
	vertical-align:middle;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/* vertically and horizontally align content in a div */

.grid--align-middle__center {
	margin: auto;
}


/* @BP20 */

@media all and (max-width:800px){

	.grid--gap-s > .grid__col {
		padding-left:@box-unit-s-bp20
	}

	.grid--gap-m > .grid__col {
		padding-left:@box-unit-m-bp20
	}

	.grid--gap-l > .grid__col {
		padding-left:@box-unit-l-bp20
	}

	.grid--collapse-bp20 {
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}

	.grid--collapse-bp20.grid--swap-order {
		-webkit-box-direction: reverse;
	    -moz-box-direction: reverse;
	    -webkit-flex-direction: column-reverse;
	    -ms-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	}

	.grid--collapse-bp20 > .grid__col {
		padding-left:0;
		width:100%
	}
}

/* @BP30 */

@media all and (max-width:600px){


	.grid--gap-s > .grid__col {
		padding-left:@box-unit-s-bp30
	}

	.grid--gap-m > .grid__col {
		padding-left:@box-unit-m-bp30
	}

	.grid--gap-l > .grid__col {
		padding-left:@box-unit-l-bp30
	}

	.grid--collapse-bp30 {
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}

	.grid--collapse-bp30.grid--swap-order {
		-webkit-box-direction: reverse;
	    -moz-box-direction: reverse;
	    -webkit-flex-direction: column-reverse;
	    -ms-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	}

	.grid--collapse-bp30 > .grid__col {
		padding-left:0;
		width:100%
	}

}

