/**
 * LAYOUT
 * Create fluid and fixed width layouts
 * Uses flex box with display table fall back for IE8 and 9
 * ============================================================================
*/

.row {
	width:100%;
	position:relative;
	display:table;
	table-layout:fixed;

	.flex-box();
}

.row__col {

	//outline:1px solid red;

	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing: content-box;

	-webkit-align-items:center;
	-webkit-box-align:center;

	position:relative;
	vertical-align:top;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	/* for IE8-9 - no flexbox */
	display: ~"table-cell\0/"
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {

	/* cancel out for ie10 - has flexbox*/
	.row__col {
		display: block
	}
}

/* margins between columns */

.row--gap-s > .row__col {
	padding-left:@box-unit-s;
}

.row--gap-m > .row__col {
	padding-left:@box-unit-m;
}

.row--gap-l > .row__col {
	padding-left:@box-unit-l;
}

//cancel left padding
.row[class*="--gap"] > .row__col:first-child {
	padding-left:0;
}

/* vertical align middle column content */

.row--align-middle > .row__col{

	.flex-box();

	//vertically align middle
	vertical-align:middle;

	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/* @BP20 */

@media all and (max-width:800px){

	.row--gap-s > .row__col {
		padding-left:@box-unit-s-bp20
	}

	.row--gap-m > .row__col {
		padding-left:@box-unit-m-bp20
	}

	.row--gap-l > .row__col {
		padding-left:@box-unit-l-bp20
	}

	.row--collapse-bp20 {
		display:block
	}

	.row--collapse-bp20 > .row__col {
		padding-left:0;
		display:block;
		width:100%
	}
}

/* @BP30 */

@media all and (max-width:600px){


	.row--gap-s > .row__col {
		padding-left:@box-unit-s-bp30
	}

	.row--gap-m > .row__col {
		padding-left:@box-unit-m-bp30
	}

	.row--gap-l > .row__col {
		padding-left:@box-unit-l-bp30
	}

	.row--collapse-bp30 {
		display:block
	}

	.row--collapse-bp30 > .row__col {
		padding-left:0;
		display:block;
		width:100%
	}

}

