// Video block
// Responsive feature block
// ============================================================================

.video-block__item {
  border-width: @col-gap-l;
  min-height: 180px;
}

.video-block__row {
  margin-bottom: @component-gap-l;
}

.video-block__figure {
  display: block;
  position: relative;
  padding-bottom: 56.25%
}

.video-block__play-overlay {
  position: relative
}
.video-block__play-overlay:after {
  content:"\e022";
  font-family: icons;
  display: block;
  position: absolute;
  color: white;
  font-size: 36px;
  bottom: 14px;
  left: 12px;
  line-height: 1;
  pointer-events: none;
  text-shadow: 0 0 3px black;
}

.video-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-block__body {
  padding: @island-padding-s;
  padding-bottom: 38px;
}

.video-block__body > .label {
  margin:-10px 0 2px 0;
}

.video-block__link {
  .primary-headline(@text-l);
}

.video-block__headline {
  margin-bottom:3px;
  line-height: 1.3
}

.video-block__snippet {

  .secondary-headline(@text-m)
}

.video-block__body > .action-link {
  position: absolute;
  bottom: 6px
}

.video-block__body .label__timestamp{
  .caption(@text-s);
}

.video-block__body .label__tag {
  .label(@text-s);
}

.\-feature {
  padding-bottom: 6px
}

@media all and (@bp10-max) {



}

@media all and (@bp20-max){

  .video-block__row > .video-block__item:last-child {
    display: none
  }

  .video-block__item {
     border-width: 2px;
  }

  .video-block__link {
    .primary-headline(@text-ml);
  }

}

@media all and (@bp30-max){

  .video-block__body > .label {
    margin-top: -13px;
  }

  .video-block__row > .video-block__item:nth-child(n+3) {
    display: none
  }

  .video-block__row {
    margin-bottom: @component-gap-s;
  }

  .video-block__headline {
    line-height: 1.1
  }

}

