// page header

.page-header {
  border-bottom: 1px solid @keyline;
  padding: 13px 0 10px @bp30-site-margin
}

.page-header__title {
  .secondary-headline(@text-xxxl);

}

@media all and (@bp20-max){
  .page-header {
    display: none
  }
}

