.box {
	display:block;
}

.box--inline {
	display:inline-block;
}

/* manage global margin bottoms */
.box--primary {
	margin-bottom:24px;
}

.box--secondary {
	margin-bottom:18px;
}

.box--tertiary {
	margin-bottom:12px;
}