/**
 * BOX
 * A general purpose container for content
 * Use to set global bottom margins with clothing size notation
 * Use to set padding values with clothing size notation
 * ============================================================================
 */

.box {
	display:block;
  position: relative;
}

.box--inline {
	display:inline-block;
}

/* Set margin bottoms using the clothing size notation */

.box--s {
  margin-bottom:@box-unit-s
}

.box--m {
	margin-bottom:@box-unit-m
}

.box--l {
	margin-bottom:@box-unit-l
}

.box--0 {
  margin-bottom: 0
}


/* Set padding using the clothing size notation */

.box--island-s {
  padding:@box-unit-s
}

.box--island-m {
  padding:@box-unit-m
}

.box--island-l {
  padding:@box-unit-l
}


/* @BP20 */

@media all and (max-width:800px){

  /* set margin bottom for @BP20 */

  .box--s,
  .box--s-bp20 {
    margin-bottom:@box-unit-s-bp20
  }

  .box--m,
  .box--m-bp20 {
    margin-bottom:@box-unit-m-bp20
  }

  .box--l,
  .box--l-bp20 {
    margin-bottom:@box-unit-l-bp20
  }


  /* remove margin bottom for @BP20 */

  .box--0-bp20 {
    margin-bottom: 0
  }


  .box--island-s {
    padding:@box-unit-s-bp20
  }

  .box--island-m {
    padding:@box-unit-m-bp20
  }

  .box--island-l {
    padding:@box-unit-l-bp20
  }

}

/* @BP30 */

@media all and (max-width:600px){


  /* set margin bottom for @BP30 */

  .box--s,
  .box--s-bp30 {
    margin-bottom:@box-unit-s-bp30
  }

  .box--m,
  .box--m-bp30 {
    margin-bottom:@box-unit-m-bp30
  }

  .box--l,
  .box--l-bp30 {
    margin-bottom:@box-unit-l-bp30
  }

  /* remove margin bottom for @BP30 */

  .box--0-bp30 {
    margin-bottom: 0
  }


  .box--island-s {
    padding:@box-unit-s-bp30
  }

  .box--island-m {
    padding:@box-unit-m-bp30
  }

  .box--island-l {
    padding:@box-unit-l-bp30
  }

}



