/**
 * TYPOGRAPHY
 * Font sizes and styles
 * Uses the clothing size notation
 * For seperate sizing per breakpoint, use the dash seperated multiple sizing classes
 * The sizes are seperated in this order: .text-@bp10-@bp20-@bp30
 * ============================================================================
*/

/* text style utlities */

.u-caps {
	text-transform: uppercase
}

.u-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}



/* body text sizes */

.tx-s {
	.font-size-s();
}

.tx-m {
	.font-size-m();
}

.tx-l {
	.font-size-l();
}

/* headline text */

.h-xxxl {
	.font-size-xxxl();
	.font-primary();
	line-height:1.25em;
	margin-bottom: 0.45em
}

.h-xxl {
	.font-size-xxl();
	.font-primary();
	line-height:1.3em;
	margin-bottom: 0.5em
}

.h-xl {
	.font-size-xl();
	.font-primary();
	line-height:1.35em;
	margin-bottom: 0.6em
}

.h-l {
	.font-size-l();
	.font-primary();
	line-height:1.42em;
	margin-bottom:0.6em;
}

.h-m {
	.font-size-m();
	.font-primary();
	margin-bottom:0.7em
}



/* @BP20 */

@media all and (max-width:800px){

	.tx-s--bp20 {
		.font-size-s();
	}

	.tx-m--bp20 {
		.font-size-m();
	}

	.tx-l--bp20 {
		.font-size-l();
	}

	
	.h-xxxl--bp20 {
		.font-size-xxxl();
		line-height:1.25em;
		margin-bottom: 0.45em
	}

	.h-xxl--bp20 {
		.font-size-xxl();
		line-height:1.3em;
		margin-bottom: 0.5em
	}

	.h-xl--bp20 {
		.font-size-xl();
		line-height:1.35em;
		margin-bottom: 0.6em
	}

	.h-l--bp20 {
		.font-size-l();
		line-height:1.42em;
		margin-bottom:0.6em;
	}

	.h-m--bp20 {
		.font-size-m();
		margin-bottom:0.7em;
		line-height:1.5em
	}

}

/* @BP30 */

@media all and (max-width:600px){

	.tx-s--bp30 {
		.font-size-s();
	}

	.tx-m--bp30 {
		.font-size-m();
	}

	.tx-l--bp30 {
		.font-size-l();
	}

	.h-xxxl--bp30 {
		.font-size-xxxl();
		line-height:1.25em;
		margin-bottom: 0.45em
	}

	.h-xxl--bp30 {
		.font-size-xxl();
		line-height:1.3em;
		margin-bottom: 0.5em
	}

	.h-xl--bp30 {
		.font-size-xl();
		line-height:1.35em;
		margin-bottom: 0.6em
	}

	.h-l--bp30 {
		.font-size-l();
		line-height:1.42em;
		margin-bottom:0.6em;
	}

	.h-m--bp30 {
		.font-size-m();
		margin-bottom:0.7em;
		line-height:1.5em
	}

}